workflows/1BU7GX6nFf4lbTre.json
{
  "id": "1BU7GX6nFf4lbTre",
  "name": "doctoreto/login",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "doctoreto/phone_number",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        -64
      ],
      "id": "f7c547fa-5e7b-4286-8fed-c132b587fc41",
      "name": "Webhook",
      "webhookId": "0f09f8dc-85d2-4478-a6ea-aaf219491f61"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.doctoreto.com/api/web/patient/v1/accounts/register",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "accept-language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "app-version",
              "value": "2.0.0"
            },
            {
              "name": "origin",
              "value": "https://doctoreto.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://doctoreto.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not;A=Brand\";v=\"99\", \"Google Chrome\";v=\"139\", \"Chromium\";v=\"139\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?1"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Android\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 Safari/605.1.15"
            },
            {
              "name": "cookie",
              "value": "_gcl_au=1.1.498441742.1752003342;analytics_campaign={%22source%22:%22google%22%2C%22medium%22:%22organic%22};_clck=1u4a78c%7C2%7Cfyg%7C0%7C2015;_gid=GA1.2.1768495969.1755540709;_ga=GA1.2.1884793141.1752003344;_ga_WYWKZ71LLD=GS2.1.s1755540708$o14$g1$t1755540879$j18$l0$h0;"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "mobile",
              "value": "={{ $('Edit Fields').item.json.body.mobile }}"
            },
            {
              "name": "country_id",
              "value": "205"
            },
            {
              "name": "captcha",
              "value": "={{ $('Edit Fields').item.json.body.captcha }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        -64
      ],
      "id": "d534d339-e968-491d-afd5-2e8377d73544",
      "name": "send mobile",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.doctoreto.com/api/web/patient/v1/accounts/login",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "accept-language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "app-version",
              "value": "2.0.0"
            },
            {
              "name": "origin",
              "value": "https://doctoreto.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://doctoreto.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not;A=Brand\";v=\"99\", \"Google Chrome\";v=\"139\", \"Chromium\";v=\"139\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?1"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Android\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Mobile Safari/537.36"
            },
            {
              "name": "cookie",
              "value": "_gcl_au=1.1.498441742.1752003342;analytics_campaign={%22source%22:%22google%22%2C%22medium%22:%22organic%22};_clck=1u4a78c%7C2%7Cfyg%7C0%7C2015;_gid=GA1.2.1768495969.1755540709;_ga=GA1.2.1884793141.1752003344;_ga_WYWKZ71LLD=GS2.1.s1755540708$o14$g1$t1755540890$j7$l0$h0;"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "mobile",
              "value": "={{ $('Edit Fields1').item.json.body.mobile }}"
            },
            {
              "name": "password",
              "value": "={{ $('Webhook1').item.json.body.otp }}"
            },
            {
              "name": "country_id",
              "value": "205"
            },
            {
              "name": "captcha"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        704
      ],
      "id": "1f60105c-9e04-4921-8c81-3e613d769b4d",
      "name": "HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "doctoreto/otp",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        704
      ],
      "id": "83aca64d-3151-4ee0-81c2-594e64468c68",
      "name": "Webhook1",
      "webhookId": "7d6f578a-4e35-4cb0-ad5a-9559f3966be2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b3e210b-5bfc-4c77-8173-1a2d8e346fad",
              "name": "body.mobile",
              "value": "={{ $json.body.mobile.replace(/^0/, \"\") }}",
              "type": "string"
            },
            {
              "id": "ed59ab01-5a2b-463b-b8e2-39bce9e1d26c",
              "name": "headers.authorization",
              "value": "={{ $json.headers.authorization.replace(/^Bearer\\s+/i, \"\").trim() }}",
              "type": "string"
            },
            {
              "id": "1cdca26e-ac13-4f3f-bc66-d9b4d0599fb2",
              "name": "body.captcha",
              "value": "={{ $json.body.captcha }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        -64
      ],
      "id": "83dd82da-4561-4d17-8fa4-ebce391ee167",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctors",
          "mode": "list",
          "cachedResultName": "doctors"
        },
        "where": {
          "values": [
            {
              "column": "temp_token",
              "value": "={{ $json.headers.authorization }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -112,
        -64
      ],
      "id": "40dc542d-1081-43f6-83b2-0d50dc2be828",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"captcha\": \"{{ $json.body.items.captcha }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        336,
        32
      ],
      "id": "cb53f661-1b2a-4634-86c8-84c1fed60faa",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"captcha\": \"{{ $json.body.items.captcha }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        -64
      ],
      "id": "7fc5bd26-6e12-4262-a3b9-016df7156779",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "89b50f46-ca1d-4bdc-9310-d9ee7e9a341e",
              "leftValue": "={{ $json.body.items.captcha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        -160
      ],
      "id": "771bf13c-ba59-4e4c-8de1-77df956fedb8",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        -256
      ],
      "id": "2e4b2458-455a-4bf7-9a60-44e5ddd6e7cf",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b3e210b-5bfc-4c77-8173-1a2d8e346fad",
              "name": "body.mobile",
              "value": "={{ $json.body.mobile.replace(/^0/, \"\") }}",
              "type": "string"
            },
            {
              "id": "ed59ab01-5a2b-463b-b8e2-39bce9e1d26c",
              "name": "headers.authorization",
              "value": "={{ $json.headers.authorization.replace(/^Bearer\\s+/i, \"\").trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        704
      ],
      "id": "65ba0b98-e19d-4ca2-870a-205c1cb28b35",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctors",
          "mode": "list",
          "cachedResultName": "doctors"
        },
        "where": {
          "values": [
            {
              "column": "temp_token",
              "value": "={{ $json.headers.authorization }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -112,
        704
      ],
      "id": "44407393-7722-46fb-baf0-2c77a0a320c8",
      "name": "Select rows from a table1",
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// گرفتن آرایه set-cookie از خروجی\nconst cookies = $json.headers[\"set-cookie\"];\n\n// اگه کوکی وجود نداشت\nif (!cookies || cookies.length === 0) {\n  return [{ json: { error: \"No cookies found\" } }];\n}\n\n// اولین کوکی (auth_token)\nconst cookieStr = cookies[0];\n\n// گرفتن تاریخ expires با Regex\nconst match = cookieStr.match(/expires=([^;]+)/i);\nif (!match) {\n  return [{ json: { error: \"No expires found in cookie\" } }];\n}\n\nconst expiresStr = match[1]; // مثلا \"Fri, 24 Oct 2025 17:54:47 GMT\"\n\n// ساخت Date object\nconst dateObj = new Date(expiresStr);\n\n// helper برای صفر گذاشتن جلو اعداد تک‌رقمی\nconst pad = (n) => n.toString().padStart(2, \"0\");\n\n// ساخت فرمت دیتابیسی \"YYYY-MM-DD HH:mm:ss\"\nconst formatted = `${dateObj.getUTCFullYear()}-${pad(dateObj.getUTCMonth()+1)}-${pad(dateObj.getUTCDate())} ${pad(dateObj.getUTCHours())}:${pad(dateObj.getUTCMinutes())}:${pad(dateObj.getUTCSeconds())}`;\n\n// خروجی\nreturn [\n  {\n    json: {\n      rawExpires: expiresStr,\n      formattedDate: formatted,\n      accessToken: cookieStr.split(\";\")[0]  // \"auth_token=...\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        704
      ],
      "id": "c1d55e96-d3be-4ff0-bb77-f51537e5b973",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctor_platform_credentials",
          "mode": "list",
          "cachedResultName": "doctor_platform_credentials"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "access_token": "={{ $('HTTP Request').item.json.headers['set-cookie'][0] }}",
            "phone_in_platform": "={{ $('Edit Fields1').item.json.body.mobile }}",
            "platform_id": 2,
            "doctor_id": "={{ $('Select rows from a table1').item.json.id }}",
            "token_created": "={{ new Date(Date.now() - 24*60*60*1000).toLocaleString(\"sv-SE\", { timeZone: \"Asia/Tehran\", hour12: false }).replace(\" \", \"T\") + \"+03:30\" }}\n",
            "is_valid": true
          },
          "matchingColumns": [
            "doctor_id",
            "platform_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "doctor_id",
              "displayName": "doctor_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "platform_id",
              "displayName": "platform_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "platform_doctor_id",
              "displayName": "platform_doctor_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "client_secret",
              "displayName": "client_secret",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "expires_at",
              "displayName": "expires_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "token_created",
              "displayName": "token_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "phone_in_platform",
              "displayName": "phone_in_platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "is_valid",
              "displayName": "is_valid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        784,
        704
      ],
      "id": "79161d76-ab7f-4d8f-93f4-cba86c89ff88",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1056,
        704
      ],
      "id": "4d8b7d0b-deef-4f6a-a526-0ad85ab7da87",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        320
      ],
      "id": "d40013f8-a3b1-44a5-99e4-78ade1bde868",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "1999634605",
        "text": "❌doctoreto/login has error❌",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -336,
        320
      ],
      "id": "59af1420-3690-4aa6-bd80-1f8184e691fd",
      "name": "Send a text message",
      "webhookId": "370b2ba6-fa65-4667-a1d5-f6910589b382",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "3UN48Ejir4Oxfhcd",
          "name": "calendar_bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $('HTTP Request').item.json.error.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        912
      ],
      "id": "49bf095c-80e5-4ef5-a267-eba0416cf774",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "jsCode": "// دریافت اولین آیتم از ورودی نود\nconst item = items[0];\n\n// استخراج پیام خطای اصلی که به صورت یک رشته JSON است\nconst rawErrorMessage = item.json.error.message;\n\n// با استفاده از یک عبارت باقاعده (Regex)، بخش اصلی JSON را استخراج می‌کنیم\n// این کار باعث می‌شود کد در برابر تغییرات احتمالی در ابتدای رشته مقاوم‌تر باشد\nconst match = rawErrorMessage.match(/{.*}/);\n\nif (match && match[0]) {\n  // رشته‌ی استخراج‌شده دارای \\\" اضافه است که باید به \" تبدیل شود\n  let jsonString = match[0].replace(/\\\\\"/g, '\"');\n\n  // حالا رشته JSON فرمت صحیحی دارد و می‌توانیم آن را parse کنیم\n  const errorDetails = JSON.parse(jsonString);\n\n  // پیام نهایی را از آبجکت استخراج می‌کنیم\n  const finalMessage = errorDetails.message;\n\n  // پیام نهایی را در قالب استاندارد n8n برمی‌گردانیم\n  return [{\n    json: {\n      message: finalMessage\n    }\n  }];\n}\n\n// در صورتی که فرمت خطا متفاوت بود، یک پیام دیباگ برگردانده می‌شود\nreturn [{\n  json: {\n    error: \"Could not find or parse the JSON in the error message.\",\n    originalMessage: rawErrorMessage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        880
      ],
      "id": "268ffb72-e7f1-4483-a5b8-7a883d82919d",
      "name": "Code"
    },
    {
      "parameters": {
        "chatId": "1999634605",
        "text": "={{ $('Select rows from a table1').item.json.full_name }} توی دکترتو لاگین کرد",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1056,
        992
      ],
      "id": "98922e96-7ade-4c57-b2ca-0ee0e9675a50",
      "name": "Send a text message1",
      "webhookId": "370b2ba6-fa65-4667-a1d5-f6910589b382",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "3UN48Ejir4Oxfhcd",
          "name": "calendar_bot"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "l2NxMTK4F6KKXYnm",
          "mode": "list",
          "cachedResultUrl": "/workflow/l2NxMTK4F6KKXYnm",
          "cachedResultName": "calendar — doctoreto/clinics"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "doctor_id": "={{ $json.doctor_id }}"
          },
          "matchingColumns": [
            "doctor_id"
          ],
          "schema": [
            {
              "id": "doctor_id",
              "displayName": "doctor_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1152,
        496
      ],
      "id": "9f551e56-407c-44ff-a35c-5cf548b1a675",
      "name": "Call 'doctoreto/clinics'"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send mobile": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "send mobile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'doctoreto/clinics'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 2,
  "versionId": "86adbd48-3b26-4ce3-ad94-ee3f62e6324b",
  "owner": {
    "type": "team",
    "teamId": "pzvw8g7gyGnUF15Q",
    "teamName": "calendar"
  },
  "parentFolderId": null,
  "isArchived": false
}