workflows/1O1Ar7rp3nPechp1.json
{
  "id": "1O1Ar7rp3nPechp1",
  "name": "p24_send_notification",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "doctor_id",
              "type": "number"
            },
            {
              "name": "title"
            },
            {
              "name": "description"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "8704dad4-72fa-4659-8955-2397db235eed",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apigw.paziresh24.com/v1/hamdast/apps/zorocalandar/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "35399abd-59bb-40e3-85d8-b4699088bed3"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\nJSON.stringify({\n  user_id: $json.p24_user_id,\n  title: $('When Executed by Another Workflow').item.json.title,\n  description: $('When Executed by Another Workflow').item.json.description,\n  link: \"https://www.paziresh24.com/_/zorocalandar/launcher/\",\n  action_button_text: \"صفحه تقویم یکپارچه\",\n  display_at: [\"doctor_calendar\"]\n})\n}}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "id": "42d80e22-b2c0-4a8b-b8de-27e68bb08131",
      "name": "send notification"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctors",
          "mode": "list",
          "cachedResultName": "doctors"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.doctor_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "b0bf89d3-bfb9-437b-b048-53050668c2d2",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "send notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "9d416671-eaf3-4933-bb8a-797cf91a5c1b",
  "owner": {
    "type": "team",
    "teamId": "pzvw8g7gyGnUF15Q",
    "teamName": "calendar"
  },
  "parentFolderId": "j4VbnUoJTCIIrckM",
  "isArchived": false
}