workflows/6BpI0BlqfsNuKjZM.json
{
  "id": "6BpI0BlqfsNuKjZM",
  "name": "drdr/get-appointment v3",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://panel.drdr.ir/api/v3/appointments/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.access_token}}"
            },
            {
              "name": "client-id",
              "value": "={{$json.client_id}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"doctor_id\": {{ $json.platform_doctor_id }},\n  \"page\": 1,\n  \"scheduled_date\": \"{{ $('When Executed by Another Workflow').item.json.date }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2992,
        544
      ],
      "id": "5e126588-1b42-4118-9910-c47af1f51ad7",
      "name": "appointments/search",
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ورودی رو بگیر\nconst pagination = items[0].json.result?.pagination || {};\nconst last = pagination.last_page || 1;\n\nconst output = [];\nfor (let p = 1; p <= last; p++) {\n  output.push({\n    json: { page: p }\n  });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3872,
        2512
      ],
      "id": "b3233017-73a9-4838-918e-cc72531912e8",
      "name": "buildPages"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3648,
        2512
      ],
      "id": "c076e6d0-3d35-4ac7-8a1c-a36a81ea1e12",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "path": "bb652bfc-093d-4c0d-a92f-b57ed1a5274c",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3968,
        1408
      ],
      "id": "43c15bfd-1c3a-405f-bf86-1d4214570884",
      "name": "Webhook",
      "webhookId": "bb652bfc-093d-4c0d-a92f-b57ed1a5274c"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctors",
          "mode": "list",
          "cachedResultName": "doctors"
        },
        "where": {
          "values": [
            {
              "column": "p24_id",
              "value": "={{ $json.body.p24_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3824,
        1280
      ],
      "id": "0c3bdab3-b611-411a-9bcf-398fdb4d9ebf",
      "name": "find doctor id",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d2221ad-d208-477f-a76f-9c366f7e3194",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3632,
        1312
      ],
      "id": "e25db435-0e4f-4839-b4fc-cf46ad5af2c1",
      "name": "does dr exists"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "dr does not exist",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -3376,
        1376
      ],
      "id": "ad7ceacd-7673-41e2-85ae-630e367d2a95",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctor_platform_credentials",
          "mode": "list",
          "cachedResultName": "doctor_platform_credentials"
        },
        "where": {
          "values": [
            {
              "column": "platform_id",
              "value": "1"
            },
            {
              "column": "doctor_id",
              "value": "={{ $json.doctor_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3216,
        544
      ],
      "id": "79b29942-701a-41ed-8bb1-7b6277b266ca",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e581cbf-63da-447f-a529-04f075eb7d51",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "10b3b3f8-871a-4001-ad7a-394a09fa63e7",
              "name": "type",
              "value": "={{ $json.type_label }}",
              "type": "string"
            },
            {
              "id": "1bddb2f9-6d8e-461d-acdb-a0b6e1ee53a3",
              "name": "type_id",
              "value": "={{ $json.type_id }}",
              "type": "string"
            },
            {
              "id": "ae59be4e-def7-48fe-8229-fb99ba2aa129",
              "name": "user_center_id",
              "value": "={{ $json.user_center_id }}",
              "type": "string"
            },
            {
              "id": "e78dc91c-47d5-42d1-9a4d-6b6116b87f25",
              "name": "book_status",
              "value": "visited",
              "type": "string"
            },
            {
              "id": "3f3bae6f-e1f8-4798-b756-2997bb278ebb",
              "name": "ref_id",
              "value": "={{ $json.ref_id }}",
              "type": "string"
            },
            {
              "id": "abcccb4d-b597-4419-a1b6-b20d54bc7697",
              "name": "from",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "id": "73c02c16-2f2c-4f0d-9d6f-5cdce6397393",
              "name": "to",
              "value": "={{ $json.to }}",
              "type": "string"
            },
            {
              "id": "9131405c-0046-44b9-9e0b-dc1ed62343bc",
              "name": "from_date",
              "value": "={{ $json.from_date }}",
              "type": "string"
            },
            {
              "id": "f03a9eea-046e-4500-a598-45d7cd728b58",
              "name": "to_date",
              "value": "={{ $json.to_date }}",
              "type": "string"
            },
            {
              "id": "624b10a3-4869-4746-a379-a6b8671e2847",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "7a1a1358-7ae0-4e92-a333-630f869f5476",
              "name": "family",
              "value": "={{ $json.family }}",
              "type": "string"
            },
            {
              "id": "b50235bb-c51b-478e-9f5c-68c9ece5a5f0",
              "name": "display_name",
              "value": "={{ $json.display_name }}",
              "type": "string"
            },
            {
              "id": "b6d8980d-1f0e-44cb-a928-2b3b0120d1ad",
              "name": "cell",
              "value": "={{ $json.cell }}",
              "type": "string"
            },
            {
              "id": "9676ded4-2327-4878-b43b-115fae97afd8",
              "name": "national_code",
              "value": "={{ $json.national_code }}",
              "type": "string"
            },
            {
              "id": "f3d56483-d199-4863-af0a-836609384b7c",
              "name": "payment_status",
              "value": "paid",
              "type": "string"
            },
            {
              "id": "a622b7c1-0136-4737-b9b2-07921170b163",
              "name": "cost",
              "value": "={{ $json.cost }}",
              "type": "string"
            },
            {
              "id": "0f8c52bb-96c1-4686-9651-77ce4245dc40",
              "name": "insurance",
              "value": "",
              "type": "string"
            },
            {
              "id": "23486055-4d7c-4ccc-aa5c-3e3e06078405",
              "name": "platform.name",
              "value": "drdr",
              "type": "string"
            },
            {
              "id": "57bf7055-8f7a-42ac-9ba2-1a49de30bd68",
              "name": "platform.p_name",
              "value": "دکتردکتر",
              "type": "string"
            },
            {
              "id": "5bccba0f-513a-47ef-ba32-caf279e66878",
              "name": "platform.id",
              "value": "1",
              "type": "string"
            },
            {
              "id": "915ad2a6-dcd9-4dd6-9463-8acaf37f3ad0",
              "name": "platform.icon",
              "value": "https://zoro-icon.s3.ir-tbz-sh1.arvanstorage.ir/drdr.png",
              "type": "string"
            },
            {
              "id": "0bce6483-9ec0-4097-a2f5-3d3526c0bf14",
              "name": "platform.link",
              "value": "https://panel.drdr.ir/",
              "type": "string"
            },
            {
              "id": "6c31c0d6-c5c9-4de6-a87d-7accbe5e0eaf",
              "name": "center.id",
              "value": "={{ $json.center_id }}",
              "type": "string"
            },
            {
              "id": "edbe219a-4121-4626-842e-089576be4ebd",
              "name": "center.name",
              "value": "={{ $json.center_name }}",
              "type": "string"
            },
            {
              "id": "0136c2c3-dfab-4725-8bc7-96fa4e2d909b",
              "name": "center.address",
              "value": "={{ $json.center_address }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1200,
        256
      ],
      "id": "7f6703e0-f77b-4666-b4b9-afc27df4eb04",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// ورودی خام را که یک آرایه با یک عضو است، می‌گیریم\nconst rawInput = items[0].json;\n\n// به آرایه appointments دسترسی پیدا می‌کنیم\nconst appointmentsArray = rawInput.result.appointments;\n\n// یک آیتم جدید برمی‌گردانیم که فقط شامل این آرایه است\n// این کار نود بعدی (Split Out) را بسیار ساده می‌کند\nreturn [{\n  json: {\n    appointments: appointmentsArray\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2320,
        352
      ],
      "id": "368034b3-c435-4bcc-862b-255ede6e3eed",
      "name": "Code3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "appointments",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2096,
        352
      ],
      "id": "c10476c1-4d95-42f4-ae39-880c9fa5020d",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// این کد روی هر آیتم جداگانه اجرا می‌شود\nconst input = $json;\n\n// --- تابع کمکی برای تبدیل تاریخ به ISO ایران ---\nfunction toIranISO(dateString) {\n  if (!dateString) return null;\n\n  // ورودی دقیقاً به وقت تهران هست → فقط استانداردسازی\n  return dateString.replace(' ', 'T') + '+03:30';\n}\n\n// --- تابع کمکی برای تبدیل ISO به timestamp ---\nfunction isoToTimestamp(isoString) {\n  if (!isoString) return null;\n  return Math.floor(new Date(isoString).getTime() / 1000);\n}\n\n// --- مپ کردن وضعیت عددی ---\nlet bookStatus = 'unknown';\nif (input.status === 100) {\n    bookStatus = 'visited';\n} else if (input.canceled_at) {\n    bookStatus = 'canceled';\n} else {\n    bookStatus = 'booked';\n}\n\n// --- مپ کردن وضعیت پرداخت ---\nlet paymentStatus = 'unpaid';\nif (input.invoice && input.invoice.status === 100) {\n    paymentStatus = 'paid';\n}\n\n// --- پیدا کردن موبایل ---\n// اولویت: user_patient → input.mobile → transaction.mobile\nlet mobile = null;\n\nif (input.user_patient?.mobile) {\n  mobile = input.user_patient.mobile;\n} else if (input.mobile && input.mobile !== \"-\" && input.mobile !== null) {\n  mobile = input.mobile;\n} else if (\n  input.invoice &&\n  Array.isArray(input.invoice.transactions) &&\n  input.invoice.transactions.length > 0\n) {\n  mobile = input.invoice.transactions[0].mobile || null;\n}\n\n// نرمال‌سازی شماره (+98 → 0)\nif (mobile) {\n  mobile = mobile.replace('+98', '0');\n}\n\n// --- تاریخ‌ها ---\nconst fromISO = toIranISO(input.scheduled_from);\nconst toISO = toIranISO(input.scheduled_to);\n\n// --- مپ کردن type ---\nlet typeLabel = null;\nlet typeId = null;\nlet clinic_id = \"\";\nlet clinic_name = \"\";\nlet clinic_address = \"\";\n\nif (input.type === 1) {\n  typeLabel = \"in_person\";\n  typeId = 1;\n  clinic_id = $json.clinic.id;\n  clinic_name = $json.clinic.title;\n  clinic_address = $json.clinic.address;\n} else if (input.type === 2 || input.type === 4 || input.type === 8) {\n  typeLabel = \"online\";\n  typeId = 2;\n}\n\n// --- ساختن آبجکت خروجی ---\nconst output = {\n  id: input.id,\n  type: \"book\",\n  user_center_id: \"9ce160cd-8963-428b-bd7e-615bc240dc0c\",\n  book_status: bookStatus,\n  ref_id: String(input.tracking_code),\n  from: isoToTimestamp(fromISO),\n  to: isoToTimestamp(toISO),\n  from_date: fromISO,\n  to_date: toISO,\n  name: input.firstname,\n  family: input.lastname,\n  display_name: `${input.firstname} ${input.lastname}`,\n  cell: mobile,\n  national_code: input.national_code,\n  payment_status: paymentStatus,\n  cost: input.amount,\n  insurance: null,\n  type_label: typeLabel,\n  type_id: typeId,\n  center_id : clinic_id,\n  center_name : clinic_name,\n  center_address : clinic_address\n};\n\n// بازگرداندن آیتم تبدیل شده\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        256
      ],
      "id": "19bb507f-50d6-4b0a-930b-ea34be984f06",
      "name": "Code4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ff880df-d894-4f6a-8b25-ac891b0538d0",
              "leftValue": "={{ $json.result.appointments }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2768,
        352
      ],
      "id": "d8e1fe7d-fb47-4af1-8408-66e7553365fc",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -4096,
        960
      ],
      "id": "38cd6936-b830-43b2-8aaa-87657c263e4a",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "1999634605",
        "text": "❌drdr/get-appointment V3 has error❌",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3872,
        960
      ],
      "id": "044d3c63-d073-4194-8158-cdea3352d1a3",
      "name": "Send a text message",
      "webhookId": "de636457-d974-453b-ac7f-880e03ff138a",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "AcKnlUwXjcsQk1Cl",
          "name": "widget"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "754fd104-4116-4175-9929-af47b0ca45e8",
              "leftValue": "={{ $json.status }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "3a6011c0-d1cf-40dc-ab2d-83f4d7ccc202",
              "leftValue": "={{ $json.status }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1872,
        352
      ],
      "id": "8ef85888-1599-4140-ae16-a962b2832925",
      "name": "Filter",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "80e421f3-9c45-4961-a95d-b522edbbb693",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1648,
        352
      ],
      "id": "778b1fed-9269-4255-903d-668cbdf9f734",
      "name": "If2"
    },
    {
      "parameters": {
        "chatId": "1999634605",
        "text": "❌drdr/get-appointment has error V2 (http request)❌",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2768,
        736
      ],
      "id": "70362575-249c-4cf5-8561-c8a5ad8a206a",
      "name": "Send a text message1",
      "webhookId": "4944642f-6861-48e9-b08f-092727ee8af7",
      "credentials": {
        "telegramApi": {
          "id": "AcKnlUwXjcsQk1Cl",
          "name": "widget"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d0f472a6-4937-4d0e-9672-eca2431049e6",
              "leftValue": "={{ $json.result.pagination.last_page }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4096,
        2512
      ],
      "id": "3c34fca7-556c-4732-907e-563a604828a5",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://panel.drdr.ir/api/v3/appointments/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Select rows from a table').item.json.access_token }}"
            },
            {
              "name": "client-id",
              "value": "={{ $('Select rows from a table').item.json.client_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"doctor_id\": {{ $('Select rows from a table').item.json.doctor_id }},\n  \"page\": {{ $json.page }},\n  \"scheduled_date\": \"{{ $('Webhook').item.json.body.date }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3424,
        2464
      ],
      "id": "43a1ccf4-8311-48e8-8d04-920b51964a95",
      "name": "appointments/search1",
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ورودی خام را که یک آرایه با یک عضو است، می‌گیریم\nconst rawInput = items[0].json;\n\n// به آرایه appointments دسترسی پیدا می‌کنیم\nconst appointmentsArray = rawInput.result.appointments;\n\n// یک آیتم جدید برمی‌گردانیم که فقط شامل این آرایه است\n// این کار نود بعدی (Split Out) را بسیار ساده می‌کند\nreturn [{\n  json: {\n    appointments: appointmentsArray\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3200,
        2464
      ],
      "id": "3d88e091-5e52-4c44-8105-3686e3d0167b",
      "name": "Code"
    },
    {
      "parameters": {
        "fieldToSplitOut": "appointments",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2976,
        2464
      ],
      "id": "3ce0385e-f239-4a85-a8f1-4f4fc3198120",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// این کد روی هر آیتم جداگانه اجرا می‌شود\nconst input = $json;\n\n// --- تابع کمکی برای تبدیل تاریخ به ISO ایران ---\nfunction toIranISO(dateString) {\n  if (!dateString) return null;\n\n  // ورودی دقیقاً به وقت تهران هست → فقط استانداردسازی\n  return dateString.replace(' ', 'T') + '+03:30';\n}\n\n// --- تابع کمکی برای تبدیل ISO به timestamp ---\nfunction isoToTimestamp(isoString) {\n  if (!isoString) return null;\n  return Math.floor(new Date(isoString).getTime() / 1000);\n}\n\n// --- مپ کردن وضعیت عددی ---\nlet bookStatus = 'unknown';\nif (input.status === 100) {\n    bookStatus = 'visited';\n} else if (input.canceled_at) {\n    bookStatus = 'canceled';\n} else {\n    bookStatus = 'booked';\n}\n\n// --- مپ کردن وضعیت پرداخت ---\nlet paymentStatus = 'unpaid';\nif (input.invoice && input.invoice.status === 100) {\n    paymentStatus = 'paid';\n}\n\n// --- پیدا کردن موبایل ---\n// اولویت: user_patient → input.mobile → transaction.mobile\nlet mobile = null;\n\nif (input.user_patient?.mobile) {\n  mobile = input.user_patient.mobile;\n} else if (input.mobile && input.mobile !== \"-\" && input.mobile !== null) {\n  mobile = input.mobile;\n} else if (\n  input.invoice &&\n  Array.isArray(input.invoice.transactions) &&\n  input.invoice.transactions.length > 0\n) {\n  mobile = input.invoice.transactions[0].mobile || null;\n}\n\n// نرمال‌سازی شماره (+98 → 0)\nif (mobile) {\n  mobile = mobile.replace('+98', '0');\n}\n\n// --- تاریخ‌ها ---\nconst fromISO = toIranISO(input.scheduled_from);\nconst toISO = toIranISO(input.scheduled_to);\n\n// --- مپ کردن type ---\nlet typeLabel = null;\nlet typeId = null;\nlet clinic_id = \"\";\nlet clinic_name = \"\";\nlet clinic_address = \"\";\n\nif (input.type === 1) {\n  typeLabel = \"in_person\";\n  typeId = 1;\n  clinic_id = $json.clinic.id;\n  clinic_name = $json.clinic.title;\n  clinic_address = $json.clinic.address;\n} else if (input.type === 2 || input.type === 4 || input.type === 8) {\n  typeLabel = \"online\";\n  typeId = 2;\n}\n\n// --- ساختن آبجکت خروجی ---\nconst output = {\n  id: input.id,\n  type: \"book\",\n  user_center_id: \"9ce160cd-8963-428b-bd7e-615bc240dc0c\",\n  book_status: bookStatus,\n  ref_id: String(input.tracking_code),\n  from: isoToTimestamp(fromISO),\n  to: isoToTimestamp(toISO),\n  from_date: fromISO,\n  to_date: toISO,\n  name: input.firstname,\n  family: input.lastname,\n  display_name: `${input.firstname} ${input.lastname}`,\n  cell: mobile,\n  national_code: input.national_code,\n  payment_status: paymentStatus,\n  cost: input.amount,\n  insurance: null,\n  type_label: typeLabel,\n  type_id: typeId,\n  center_id : clinic_id,\n  center_name : clinic_name,\n  center_address : clinic_address\n};\n\n// بازگرداندن آیتم تبدیل شده\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2304,
        2464
      ],
      "id": "8b6b1d58-1616-4e6c-87d9-2af9ae58dcdf",
      "name": "Code5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "754fd104-4116-4175-9929-af47b0ca45e8",
              "leftValue": "={{ $json.status }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "3a6011c0-d1cf-40dc-ab2d-83f4d7ccc202",
              "leftValue": "={{ $json.status }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2752,
        2464
      ],
      "id": "b9947c13-07cf-4c96-a729-0a95e1e921a5",
      "name": "Filter1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "80e421f3-9c45-4961-a95d-b522edbbb693",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2528,
        2464
      ],
      "id": "9790cebd-d20b-4bc9-8859-d254206fc4f5",
      "name": "If3"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 204
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2304,
        2656
      ],
      "id": "52996fc1-9232-4d73-a854-b164a43517c0",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2080,
        2464
      ],
      "id": "5c341321-f40f-4908-a4d6-e05f389fef1b",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d0f472a6-4937-4d0e-9672-eca2431049e6",
              "leftValue": "={{ $json.result.pagination.last_page }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2544,
        256
      ],
      "id": "cf92c670-f9e0-412e-b75f-961db6f7c857",
      "name": "If4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://panel.drdr.ir/api/v3/appointments/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Select rows from a table').item.json.access_token }}"
            },
            {
              "name": "client-id",
              "value": "={{ $('Select rows from a table').item.json.client_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"doctor_id\": {{ $('Select rows from a table').item.json.platform_doctor_id }},\n  \"page\": 1,\n  \"scheduled_date\": \"{{ $('Webhook').item.json.body.date }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3872,
        2144
      ],
      "id": "cb0bf961-de3d-4158-b1cb-af86c5d536e8",
      "name": "appointments/search2",
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://panel.drdr.ir/api/v3/appointments/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Select rows from a table').item.json.access_token }}"
            },
            {
              "name": "client-id",
              "value": "={{ $('Select rows from a table').item.json.client_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"doctor_id\": {{ $('Select rows from a table').item.json.platform_doctor_id }},\n  \"page\": 2,\n  \"scheduled_date\": \"{{ $('Webhook').item.json.body.date }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3872,
        1760
      ],
      "id": "a9728dfe-a8f9-49d2-9834-0ae99e28ca66",
      "name": "appointments/search3",
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "id",
        "joinMode": "keepEverything",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2304,
        1856
      ],
      "id": "843b7afc-3c1d-4a79-b11f-184c984acf33",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// ورودی خام را که یک آرایه با یک عضو است، می‌گیریم\nconst rawInput = items[0].json;\n\n// به آرایه appointments دسترسی پیدا می‌کنیم\nconst appointmentsArray = rawInput.result.appointments;\n\n// یک آیتم جدید برمی‌گردانیم که فقط شامل این آرایه است\n// این کار نود بعدی (Split Out) را بسیار ساده می‌کند\nreturn [{\n  json: {\n    appointments: appointmentsArray\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3648,
        2144
      ],
      "id": "0f378525-197b-4c81-a42b-ef3fa427b50f",
      "name": "Code6"
    },
    {
      "parameters": {
        "fieldToSplitOut": "appointments",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -3424,
        2144
      ],
      "id": "6cbea5b8-5311-4a76-b526-6d726d8055f9",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// این کد روی هر آیتم جداگانه اجرا می‌شود\nconst input = $json;\n\n// --- تابع کمکی برای تبدیل تاریخ به ISO ایران ---\nfunction toIranISO(dateString) {\n  if (!dateString) return null;\n\n  // ورودی دقیقاً به وقت تهران هست → فقط استانداردسازی\n  return dateString.replace(' ', 'T') + '+03:30';\n}\n\n// --- تابع کمکی برای تبدیل ISO به timestamp ---\nfunction isoToTimestamp(isoString) {\n  if (!isoString) return null;\n  return Math.floor(new Date(isoString).getTime() / 1000);\n}\n\n// --- مپ کردن وضعیت عددی ---\nlet bookStatus = 'unknown';\nif (input.status === 100) {\n    bookStatus = 'visited';\n} else if (input.canceled_at) {\n    bookStatus = 'canceled';\n} else {\n    bookStatus = 'booked';\n}\n\n// --- مپ کردن وضعیت پرداخت ---\nlet paymentStatus = 'unpaid';\nif (input.invoice && input.invoice.status === 100) {\n    paymentStatus = 'paid';\n}\n\n// --- پیدا کردن موبایل ---\n// اولویت: user_patient → input.mobile → transaction.mobile\nlet mobile = null;\n\nif (input.user_patient?.mobile) {\n  mobile = input.user_patient.mobile;\n} else if (input.mobile && input.mobile !== \"-\" && input.mobile !== null) {\n  mobile = input.mobile;\n} else if (\n  input.invoice &&\n  Array.isArray(input.invoice.transactions) &&\n  input.invoice.transactions.length > 0\n) {\n  mobile = input.invoice.transactions[0].mobile || null;\n}\n\n// نرمال‌سازی شماره (+98 → 0)\nif (mobile) {\n  mobile = mobile.replace('+98', '0');\n}\n\n// --- تاریخ‌ها ---\nconst fromISO = toIranISO(input.scheduled_from);\nconst toISO = toIranISO(input.scheduled_to);\n\n// --- مپ کردن type ---\nlet typeLabel = null;\nlet typeId = null;\nlet clinic_id = \"\";\nlet clinic_name = \"\";\nlet clinic_address = \"\";\n\nif (input.type === 1) {\n  typeLabel = \"in_person\";\n  typeId = 1;\n  clinic_id = $json.clinic.id;\n  clinic_name = $json.clinic.title;\n  clinic_address = $json.clinic.address;\n} else if (input.type === 2 || input.type === 4 || input.type === 8) {\n  typeLabel = \"online\";\n  typeId = 2;\n}\n\n// --- ساختن آبجکت خروجی ---\nconst output = {\n  id: input.id,\n  type: \"book\",\n  user_center_id: \"9ce160cd-8963-428b-bd7e-615bc240dc0c\",\n  book_status: bookStatus,\n  ref_id: String(input.tracking_code),\n  from: isoToTimestamp(fromISO),\n  to: isoToTimestamp(toISO),\n  from_date: fromISO,\n  to_date: toISO,\n  name: input.firstname,\n  family: input.lastname,\n  display_name: `${input.firstname} ${input.lastname}`,\n  cell: mobile,\n  national_code: input.national_code,\n  payment_status: paymentStatus,\n  cost: input.amount,\n  insurance: null,\n  type_label: typeLabel,\n  type_id: typeId,\n  center_id : clinic_id,\n  center_name : clinic_name,\n  center_address : clinic_address\n};\n\n// بازگرداندن آیتم تبدیل شده\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2752,
        2048
      ],
      "id": "d776f8e3-6bdc-43af-9513-dc5344c0afb8",
      "name": "Code7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "754fd104-4116-4175-9929-af47b0ca45e8",
              "leftValue": "={{ $json.status }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "3a6011c0-d1cf-40dc-ab2d-83f4d7ccc202",
              "leftValue": "={{ $json.status }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -3200,
        2144
      ],
      "id": "18410242-79d0-46f7-a5bf-f0616f3cb831",
      "name": "Filter2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "80e421f3-9c45-4961-a95d-b522edbbb693",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2976,
        2144
      ],
      "id": "b46c7632-7417-486d-a1d4-ad543b4c73bf",
      "name": "If5"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 204
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2752,
        2240
      ],
      "id": "6ea0d9d0-3d9b-46e1-9e52-e53f4a22ae6b",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "jsCode": "// ورودی خام را که یک آرایه با یک عضو است، می‌گیریم\nconst rawInput = items[0].json;\n\n// به آرایه appointments دسترسی پیدا می‌کنیم\nconst appointmentsArray = rawInput.result.appointments;\n\n// یک آیتم جدید برمی‌گردانیم که فقط شامل این آرایه است\n// این کار نود بعدی (Split Out) را بسیار ساده می‌کند\nreturn [{\n  json: {\n    appointments: appointmentsArray\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3648,
        1760
      ],
      "id": "a7f500d6-8bcc-4dc3-bc92-50dc16574215",
      "name": "Code8"
    },
    {
      "parameters": {
        "fieldToSplitOut": "appointments",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -3424,
        1760
      ],
      "id": "6f5be9a2-331a-4131-a08d-79fb57b2d317",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// این کد روی هر آیتم جداگانه اجرا می‌شود\nconst input = $json;\n\n// --- تابع کمکی برای تبدیل تاریخ به ISO ایران ---\nfunction toIranISO(dateString) {\n  if (!dateString) return null;\n\n  // ورودی دقیقاً به وقت تهران هست → فقط استانداردسازی\n  return dateString.replace(' ', 'T') + '+03:30';\n}\n\n// --- تابع کمکی برای تبدیل ISO به timestamp ---\nfunction isoToTimestamp(isoString) {\n  if (!isoString) return null;\n  return Math.floor(new Date(isoString).getTime() / 1000);\n}\n\n// --- مپ کردن وضعیت عددی ---\nlet bookStatus = 'unknown';\nif (input.status === 100) {\n    bookStatus = 'visited';\n} else if (input.canceled_at) {\n    bookStatus = 'canceled';\n} else {\n    bookStatus = 'booked';\n}\n\n// --- مپ کردن وضعیت پرداخت ---\nlet paymentStatus = 'unpaid';\nif (input.invoice && input.invoice.status === 100) {\n    paymentStatus = 'paid';\n}\n\n// --- پیدا کردن موبایل ---\n// اولویت: user_patient → input.mobile → transaction.mobile\nlet mobile = null;\n\nif (input.user_patient?.mobile) {\n  mobile = input.user_patient.mobile;\n} else if (input.mobile && input.mobile !== \"-\" && input.mobile !== null) {\n  mobile = input.mobile;\n} else if (\n  input.invoice &&\n  Array.isArray(input.invoice.transactions) &&\n  input.invoice.transactions.length > 0\n) {\n  mobile = input.invoice.transactions[0].mobile || null;\n}\n\n// نرمال‌سازی شماره (+98 → 0)\nif (mobile) {\n  mobile = mobile.replace('+98', '0');\n}\n\n// --- تاریخ‌ها ---\nconst fromISO = toIranISO(input.scheduled_from);\nconst toISO = toIranISO(input.scheduled_to);\n\n// --- مپ کردن type ---\nlet typeLabel = null;\nlet typeId = null;\nlet clinic_id = \"\";\nlet clinic_name = \"\";\nlet clinic_address = \"\";\n\nif (input.type === 1) {\n  typeLabel = \"in_person\";\n  typeId = 1;\n  clinic_id = $json.clinic.id;\n  clinic_name = $json.clinic.title;\n  clinic_address = $json.clinic.address;\n} else if (input.type === 2 || input.type === 4 || input.type === 8) {\n  typeLabel = \"online\";\n  typeId = 2;\n}\n\n// --- ساختن آبجکت خروجی ---\nconst output = {\n  id: input.id,\n  type: \"book\",\n  user_center_id: \"9ce160cd-8963-428b-bd7e-615bc240dc0c\",\n  book_status: bookStatus,\n  ref_id: String(input.tracking_code),\n  from: isoToTimestamp(fromISO),\n  to: isoToTimestamp(toISO),\n  from_date: fromISO,\n  to_date: toISO,\n  name: input.firstname,\n  family: input.lastname,\n  display_name: `${input.firstname} ${input.lastname}`,\n  cell: mobile,\n  national_code: input.national_code,\n  payment_status: paymentStatus,\n  cost: input.amount,\n  insurance: null,\n  type_label: typeLabel,\n  type_id: typeId,\n  center_id : clinic_id,\n  center_name : clinic_name,\n  center_address : clinic_address\n};\n\n// بازگرداندن آیتم تبدیل شده\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2736,
        1600
      ],
      "id": "77fa82ad-e4b2-4d1d-851e-45544ca27fd9",
      "name": "Code9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "754fd104-4116-4175-9929-af47b0ca45e8",
              "leftValue": "={{ $json.status }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "3a6011c0-d1cf-40dc-ab2d-83f4d7ccc202",
              "leftValue": "={{ $json.status }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -3200,
        1760
      ],
      "id": "5bcad520-3faf-4789-98cc-6ff92588d0ab",
      "name": "Filter3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "80e421f3-9c45-4961-a95d-b522edbbb693",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2976,
        1760
      ],
      "id": "0a24600f-2549-4cb0-a323-7ef4bec66b13",
      "name": "If6"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 204
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2752,
        1856
      ],
      "id": "14b13fba-9cf7-4a41-808e-29eb2dd816dc",
      "name": "Respond to Webhook9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e581cbf-63da-447f-a529-04f075eb7d51",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "10b3b3f8-871a-4001-ad7a-394a09fa63e7",
              "name": "type",
              "value": "={{ $json.type_label }}",
              "type": "string"
            },
            {
              "id": "1bddb2f9-6d8e-461d-acdb-a0b6e1ee53a3",
              "name": "type_id",
              "value": "={{ $json.type_id }}",
              "type": "string"
            },
            {
              "id": "ae59be4e-def7-48fe-8229-fb99ba2aa129",
              "name": "user_center_id",
              "value": "={{ $json.user_center_id }}",
              "type": "string"
            },
            {
              "id": "e78dc91c-47d5-42d1-9a4d-6b6116b87f25",
              "name": "book_status",
              "value": "visited",
              "type": "string"
            },
            {
              "id": "3f3bae6f-e1f8-4798-b756-2997bb278ebb",
              "name": "ref_id",
              "value": "={{ $json.ref_id }}",
              "type": "string"
            },
            {
              "id": "abcccb4d-b597-4419-a1b6-b20d54bc7697",
              "name": "from",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "id": "73c02c16-2f2c-4f0d-9d6f-5cdce6397393",
              "name": "to",
              "value": "={{ $json.to }}",
              "type": "string"
            },
            {
              "id": "9131405c-0046-44b9-9e0b-dc1ed62343bc",
              "name": "from_date",
              "value": "={{ $json.from_date }}",
              "type": "string"
            },
            {
              "id": "f03a9eea-046e-4500-a598-45d7cd728b58",
              "name": "to_date",
              "value": "={{ $json.to_date }}",
              "type": "string"
            },
            {
              "id": "624b10a3-4869-4746-a379-a6b8671e2847",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "7a1a1358-7ae0-4e92-a333-630f869f5476",
              "name": "family",
              "value": "={{ $json.family }}",
              "type": "string"
            },
            {
              "id": "b50235bb-c51b-478e-9f5c-68c9ece5a5f0",
              "name": "display_name",
              "value": "={{ $json.display_name }}",
              "type": "string"
            },
            {
              "id": "b6d8980d-1f0e-44cb-a928-2b3b0120d1ad",
              "name": "cell",
              "value": "={{ $json.cell }}",
              "type": "string"
            },
            {
              "id": "9676ded4-2327-4878-b43b-115fae97afd8",
              "name": "national_code",
              "value": "={{ $json.national_code }}",
              "type": "string"
            },
            {
              "id": "f3d56483-d199-4863-af0a-836609384b7c",
              "name": "payment_status",
              "value": "paid",
              "type": "string"
            },
            {
              "id": "a622b7c1-0136-4737-b9b2-07921170b163",
              "name": "cost",
              "value": "={{ $json.cost }}",
              "type": "string"
            },
            {
              "id": "0f8c52bb-96c1-4686-9651-77ce4245dc40",
              "name": "insurance",
              "value": "",
              "type": "string"
            },
            {
              "id": "23486055-4d7c-4ccc-aa5c-3e3e06078405",
              "name": "platform.name",
              "value": "drdr",
              "type": "string"
            },
            {
              "id": "57bf7055-8f7a-42ac-9ba2-1a49de30bd68",
              "name": "platform.p_name",
              "value": "دکتردکتر",
              "type": "string"
            },
            {
              "id": "5bccba0f-513a-47ef-ba32-caf279e66878",
              "name": "platform.id",
              "value": "1",
              "type": "string"
            },
            {
              "id": "915ad2a6-dcd9-4dd6-9463-8acaf37f3ad0",
              "name": "platform.icon",
              "value": "https://zoro-icon.s3.ir-tbz-sh1.arvanstorage.ir/drdr.png",
              "type": "string"
            },
            {
              "id": "0bce6483-9ec0-4097-a2f5-3d3526c0bf14",
              "name": "platform.link",
              "value": "https://panel.drdr.ir/",
              "type": "string"
            },
            {
              "id": "6c31c0d6-c5c9-4de6-a87d-7accbe5e0eaf",
              "name": "center.id",
              "value": "={{ $json.center_id }}",
              "type": "string"
            },
            {
              "id": "edbe219a-4121-4626-842e-089576be4ebd",
              "name": "center.name",
              "value": "={{ $json.center_name }}",
              "type": "string"
            },
            {
              "id": "0136c2c3-dfab-4725-8bc7-96fa4e2d909b",
              "name": "center.address",
              "value": "={{ $json.center_address }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2528,
        2048
      ],
      "id": "62f01dc8-7e52-4d02-b4c3-f2308901ba70",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e581cbf-63da-447f-a529-04f075eb7d51",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "10b3b3f8-871a-4001-ad7a-394a09fa63e7",
              "name": "type",
              "value": "={{ $json.type_label }}",
              "type": "string"
            },
            {
              "id": "1bddb2f9-6d8e-461d-acdb-a0b6e1ee53a3",
              "name": "type_id",
              "value": "={{ $json.type_id }}",
              "type": "string"
            },
            {
              "id": "ae59be4e-def7-48fe-8229-fb99ba2aa129",
              "name": "user_center_id",
              "value": "={{ $json.user_center_id }}",
              "type": "string"
            },
            {
              "id": "e78dc91c-47d5-42d1-9a4d-6b6116b87f25",
              "name": "book_status",
              "value": "visited",
              "type": "string"
            },
            {
              "id": "3f3bae6f-e1f8-4798-b756-2997bb278ebb",
              "name": "ref_id",
              "value": "={{ $json.ref_id }}",
              "type": "string"
            },
            {
              "id": "abcccb4d-b597-4419-a1b6-b20d54bc7697",
              "name": "from",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "id": "73c02c16-2f2c-4f0d-9d6f-5cdce6397393",
              "name": "to",
              "value": "={{ $json.to }}",
              "type": "string"
            },
            {
              "id": "9131405c-0046-44b9-9e0b-dc1ed62343bc",
              "name": "from_date",
              "value": "={{ $json.from_date }}",
              "type": "string"
            },
            {
              "id": "f03a9eea-046e-4500-a598-45d7cd728b58",
              "name": "to_date",
              "value": "={{ $json.to_date }}",
              "type": "string"
            },
            {
              "id": "624b10a3-4869-4746-a379-a6b8671e2847",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "7a1a1358-7ae0-4e92-a333-630f869f5476",
              "name": "family",
              "value": "={{ $json.family }}",
              "type": "string"
            },
            {
              "id": "b50235bb-c51b-478e-9f5c-68c9ece5a5f0",
              "name": "display_name",
              "value": "={{ $json.display_name }}",
              "type": "string"
            },
            {
              "id": "b6d8980d-1f0e-44cb-a928-2b3b0120d1ad",
              "name": "cell",
              "value": "={{ $json.cell }}",
              "type": "string"
            },
            {
              "id": "9676ded4-2327-4878-b43b-115fae97afd8",
              "name": "national_code",
              "value": "={{ $json.national_code }}",
              "type": "string"
            },
            {
              "id": "f3d56483-d199-4863-af0a-836609384b7c",
              "name": "payment_status",
              "value": "paid",
              "type": "string"
            },
            {
              "id": "a622b7c1-0136-4737-b9b2-07921170b163",
              "name": "cost",
              "value": "={{ $json.cost }}",
              "type": "string"
            },
            {
              "id": "0f8c52bb-96c1-4686-9651-77ce4245dc40",
              "name": "insurance",
              "value": "",
              "type": "string"
            },
            {
              "id": "23486055-4d7c-4ccc-aa5c-3e3e06078405",
              "name": "platform.name",
              "value": "drdr",
              "type": "string"
            },
            {
              "id": "57bf7055-8f7a-42ac-9ba2-1a49de30bd68",
              "name": "platform.p_name",
              "value": "دکتردکتر",
              "type": "string"
            },
            {
              "id": "5bccba0f-513a-47ef-ba32-caf279e66878",
              "name": "platform.id",
              "value": "1",
              "type": "string"
            },
            {
              "id": "915ad2a6-dcd9-4dd6-9463-8acaf37f3ad0",
              "name": "platform.icon",
              "value": "https://zoro-icon.s3.ir-tbz-sh1.arvanstorage.ir/drdr.png",
              "type": "string"
            },
            {
              "id": "0bce6483-9ec0-4097-a2f5-3d3526c0bf14",
              "name": "platform.link",
              "value": "https://panel.drdr.ir/",
              "type": "string"
            },
            {
              "id": "6c31c0d6-c5c9-4de6-a87d-7accbe5e0eaf",
              "name": "center.id",
              "value": "={{ $json.center_id }}",
              "type": "string"
            },
            {
              "id": "edbe219a-4121-4626-842e-089576be4ebd",
              "name": "center.name",
              "value": "={{ $json.center_name }}",
              "type": "string"
            },
            {
              "id": "0136c2c3-dfab-4725-8bc7-96fa4e2d909b",
              "name": "center.address",
              "value": "={{ $json.center_address }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2512,
        1600
      ],
      "id": "0578de66-2be9-4565-8331-8e56fca16a9a",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "amount": 0.6
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4096,
        1760
      ],
      "id": "51ddba82-aaf7-4d8b-bad7-18b2c414f251",
      "name": "Wait",
      "webhookId": "f1c49163-56bb-463e-9f96-7d97abe38994"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://panel.drdr.ir/api/v3/appointments/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "accept-language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJjMTlmOWM3Ny0yMzRmLTRhZjYtYTE0ZS03OGY3NjU5MWYwYjEiLCJqdGkiOiJiYTYxYTgzNTQ2N2UyYTZhZTRmNTVjN2JlN2Q1ZmRjNzBhOGViNzNmMDNjNTcyYzQ5OGJkZmNkMzI5YjcxOGVkMGZmNmExOWFlYjQ5NWQxMyIsImlhdCI6MTc1ODcyMjQxOS4xMjA5NTksIm5iZiI6MTc1ODcyMjQxOS4xMjA5NjYsImV4cCI6MTc5MDI1ODQxOS4xMDE3MTIsInN1YiI6IjcwOTA0Iiwic2NvcGVzIjpbXX0.bKZp8fBdhAtwd3MCCK5_s_n85XcFjGdo4EnUgZ7CeMlbCqDMWTmyCN1DG_9Hy2pbaDjL9ZY--2rAGDze-UTGPRjy-pUTwSeYJUY2D5ORnAgoqTkn6wlzaX0lX4R_YbLBxvC_3YLTgSisFGkuxdspsqMantFoKvYmmfdiSco7FJ_WvkDtMMyv9GyiU1LoaEUisg0OHYQYcH7GayzGFqOp8_g2SIY0ozyrLbhdcIdCZx3YUcOzbC1nSAENV-5wWbGIigNlcfqLBHRKd8FU4ayMsGYkyUptKyAguVuIR8_5Fv43p86MffmueG7Sf_pY5lMOx2uJtIATDkceqs--qfuYPm-TOvdtVDU9C4uKMs2u11z8BSUbBF8DMAkUKMQQhzFHOy3z8wUUA0gtn9gePK8Uv_sobdm5zlQ5h4bqpdiMkaLekTbGzmNFs94dADub3wIVaWFYqiKN_ZD9YQUCigoEESrmAFWGzB4XnfBw9TbNMzGA3yxXHdL3gRFQhRgisK7grPhQXYiT8fQj9wbg--ee753C1ZSgvv0qv_DJlmD6-X36vgrfdq3LZ7aCPNtf1eg6Jg8uqsWbImnOzAhC3i-QinAMDwBJX1dJsxgcgn5RyRET4rDoMF0HUiu7DcFrAHcPi8tQwzhkM9nv8yu-X1OogXSE5088EZt_hOoFEeeRUI8"
            },
            {
              "name": "client-id",
              "value": "c19f9c77-234f-4af6-a14e-78f76591f0b1"
            },
            {
              "name": "origin",
              "value": "https://panel.drdr.ir"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://panel.drdr.ir/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Google Chrome\";v=\"140\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-origin"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36"
            },
            {
              "name": "user-role",
              "value": "clinic"
            },
            {
              "name": "user-role-id",
              "value": "70904"
            },
            {
              "name": "cookie",
              "value": "_gcl_au=1.1.1066516944.1754203264;analytics_campaign={%22source%22:%22google%22%2C%22medium%22:%22organic%22};_clck=lunxo8%5E2%5Efyz%5E0%5E2041;_ga_0Y8NF1G4YD=GS2.1.s1757687171$o14$g1$t1757687181$j50$l0$h0;_ga=GA1.1.833285822.1754203265;_ga_FFET8W66JW=GS2.1.s1758741285$o24$g0$t1758741285$j60$l0$h0;"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"doctor_id\": 70904,\n  \"page\": 1,\n  \"per_page\": 100,\n  \"scheduled_date\": \"2025-09-17\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3856,
        2960
      ],
      "id": "f91fbae8-4b90-4845-a1df-31ca297675bf",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// ورودی رو بگیر\nconst pagination = items[0].json.result?.pagination || {};\nconst last = pagination.last_page || 1;\n\nconst output = [];\nfor (let p = 1; p <= last; p++) {\n  output.push({\n    json: { page: p }\n  });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2320,
        64
      ],
      "id": "28ef4639-0b2a-4a38-a304-4235af0607e0",
      "name": "buildPages1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "page",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2096,
        64
      ],
      "id": "b71cb797-3ee8-47dc-8f13-fd71bb4e5598",
      "name": "Split Out4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://panel.drdr.ir/api/v3/appointments/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Select rows from a table').item.json.access_token }}"
            },
            {
              "name": "client-id",
              "value": "={{ $('Select rows from a table').item.json.client_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"doctor_id\": {{ $('Select rows from a table').item.json.platform_doctor_id }},\n  \"page\": {{ $json.page }},\n  \"scheduled_date\": \"{{ $('When Executed by Another Workflow').item.json.date }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1872,
        64
      ],
      "id": "03f5a10c-4320-4bcd-bf20-195d22d97f82",
      "name": "appointments/search4",
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ورودی اصلی\nconst rawInput = items[0].json;\n\n// مطمئن می‌شیم که data وجود داره و آرایه است\nconst dataArray = rawInput.data || [];\n\nlet output = [];\n\n// پیمایش صفحات داخل data\nfor (const entry of dataArray) {\n  if (entry.result && Array.isArray(entry.result.appointments)) {\n    for (const appointment of entry.result.appointments) {\n      output.push({ json: appointment });\n    }\n  }\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        64
      ],
      "id": "58399c75-f403-4a06-aae7-564e92dface5",
      "name": "Code10"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1648,
        64
      ],
      "id": "6e4b7409-3ffa-4227-8634-5976fe37c605",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// این کد روی هر آیتم جداگانه اجرا می‌شود\nconst input = $json;\n\n// --- تابع کمکی برای تبدیل تاریخ به ISO ایران ---\nfunction toIranISO(dateString) {\n  if (!dateString) return null;\n\n  // ورودی دقیقاً به وقت تهران هست → فقط استانداردسازی\n  return dateString.replace(' ', 'T') + '+03:30';\n}\n\n// --- تابع کمکی برای تبدیل ISO به timestamp ---\nfunction isoToTimestamp(isoString) {\n  if (!isoString) return null;\n  return Math.floor(new Date(isoString).getTime() / 1000);\n}\n\n// --- مپ کردن وضعیت عددی ---\nlet bookStatus = 'unknown';\nif (input.status === 100) {\n    bookStatus = 'visited';\n} else if (input.canceled_at) {\n    bookStatus = 'canceled';\n} else {\n    bookStatus = 'booked';\n}\n\n// --- مپ کردن وضعیت پرداخت ---\nlet paymentStatus = 'unpaid';\nif (input.invoice && input.invoice.status === 100) {\n    paymentStatus = 'paid';\n}\n\n// --- پیدا کردن موبایل ---\n// اولویت: user_patient → input.mobile → transaction.mobile\nlet mobile = null;\n\nif (input.user_patient?.mobile) {\n  mobile = input.user_patient.mobile;\n} else if (input.mobile && input.mobile !== \"-\" && input.mobile !== null) {\n  mobile = input.mobile;\n} else if (\n  input.invoice &&\n  Array.isArray(input.invoice.transactions) &&\n  input.invoice.transactions.length > 0\n) {\n  mobile = input.invoice.transactions[0].mobile || null;\n}\n\n// نرمال‌سازی شماره (+98 → 0)\nif (mobile) {\n  mobile = mobile.replace('+98', '0');\n}\n\n// --- تاریخ‌ها ---\nconst fromISO = toIranISO(input.scheduled_from);\nconst toISO = toIranISO(input.scheduled_to);\n\n// --- مپ کردن type ---\nlet typeLabel = null;\nlet typeId = null;\nlet clinic_id = \"\";\nlet clinic_name = \"\";\nlet clinic_address = \"\";\n\nif (input.type === 1) {\n  typeLabel = \"in_person\";\n  typeId = 1;\n  clinic_id = $json.clinic.id;\n  clinic_name = $json.clinic.title;\n  clinic_address = $json.clinic.address;\n} else if (input.type === 2 || input.type === 4 || input.type === 8) {\n  typeLabel = \"online\";\n  typeId = 2;\n}\n\n// --- ساختن آبجکت خروجی ---\nconst output = {\n  id: input.id,\n  type: \"book\",\n  user_center_id: \"9ce160cd-8963-428b-bd7e-615bc240dc0c\",\n  book_status: bookStatus,\n  ref_id: String(input.tracking_code),\n  from: isoToTimestamp(fromISO),\n  to: isoToTimestamp(toISO),\n  from_date: fromISO,\n  to_date: toISO,\n  name: input.firstname,\n  family: input.lastname,\n  display_name: `${input.firstname} ${input.lastname}`,\n  cell: mobile,\n  national_code: input.national_code,\n  payment_status: paymentStatus,\n  cost: input.amount,\n  insurance: null,\n  type_label: typeLabel,\n  type_id: typeId,\n  center_id : clinic_id,\n  center_name : clinic_name,\n  center_address : clinic_address\n};\n\n// بازگرداندن آیتم تبدیل شده\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        -32
      ],
      "id": "dfd77362-2285-4f34-8378-2850f16e9b8d",
      "name": "Code11"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "754fd104-4116-4175-9929-af47b0ca45e8",
              "leftValue": "={{ $json.status }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "3a6011c0-d1cf-40dc-ab2d-83f4d7ccc202",
              "leftValue": "={{ $json.status }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1200,
        64
      ],
      "id": "4ae57bae-7312-43e4-9a79-4bcd1c252859",
      "name": "Filter4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "80e421f3-9c45-4961-a95d-b522edbbb693",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -976,
        64
      ],
      "id": "42f3f813-b0ce-43b3-a13b-5a5568c4e76f",
      "name": "If7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e581cbf-63da-447f-a529-04f075eb7d51",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "10b3b3f8-871a-4001-ad7a-394a09fa63e7",
              "name": "type",
              "value": "={{ $json.type_label }}",
              "type": "string"
            },
            {
              "id": "1bddb2f9-6d8e-461d-acdb-a0b6e1ee53a3",
              "name": "type_id",
              "value": "={{ $json.type_id }}",
              "type": "string"
            },
            {
              "id": "ae59be4e-def7-48fe-8229-fb99ba2aa129",
              "name": "user_center_id",
              "value": "={{ $json.user_center_id }}",
              "type": "string"
            },
            {
              "id": "e78dc91c-47d5-42d1-9a4d-6b6116b87f25",
              "name": "book_status",
              "value": "visited",
              "type": "string"
            },
            {
              "id": "3f3bae6f-e1f8-4798-b756-2997bb278ebb",
              "name": "ref_id",
              "value": "={{ $json.ref_id }}",
              "type": "string"
            },
            {
              "id": "abcccb4d-b597-4419-a1b6-b20d54bc7697",
              "name": "from",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "id": "73c02c16-2f2c-4f0d-9d6f-5cdce6397393",
              "name": "to",
              "value": "={{ $json.to }}",
              "type": "string"
            },
            {
              "id": "9131405c-0046-44b9-9e0b-dc1ed62343bc",
              "name": "from_date",
              "value": "={{ $json.from_date }}",
              "type": "string"
            },
            {
              "id": "f03a9eea-046e-4500-a598-45d7cd728b58",
              "name": "to_date",
              "value": "={{ $json.to_date }}",
              "type": "string"
            },
            {
              "id": "624b10a3-4869-4746-a379-a6b8671e2847",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "7a1a1358-7ae0-4e92-a333-630f869f5476",
              "name": "family",
              "value": "={{ $json.family }}",
              "type": "string"
            },
            {
              "id": "b50235bb-c51b-478e-9f5c-68c9ece5a5f0",
              "name": "display_name",
              "value": "={{ $json.display_name }}",
              "type": "string"
            },
            {
              "id": "b6d8980d-1f0e-44cb-a928-2b3b0120d1ad",
              "name": "cell",
              "value": "={{ $json.cell }}",
              "type": "string"
            },
            {
              "id": "9676ded4-2327-4878-b43b-115fae97afd8",
              "name": "national_code",
              "value": "={{ $json.national_code }}",
              "type": "string"
            },
            {
              "id": "f3d56483-d199-4863-af0a-836609384b7c",
              "name": "payment_status",
              "value": "paid",
              "type": "string"
            },
            {
              "id": "a622b7c1-0136-4737-b9b2-07921170b163",
              "name": "cost",
              "value": "={{ $json.cost }}",
              "type": "string"
            },
            {
              "id": "0f8c52bb-96c1-4686-9651-77ce4245dc40",
              "name": "insurance",
              "value": "",
              "type": "string"
            },
            {
              "id": "23486055-4d7c-4ccc-aa5c-3e3e06078405",
              "name": "platform.name",
              "value": "drdr",
              "type": "string"
            },
            {
              "id": "57bf7055-8f7a-42ac-9ba2-1a49de30bd68",
              "name": "platform.p_name",
              "value": "دکتردکتر",
              "type": "string"
            },
            {
              "id": "5bccba0f-513a-47ef-ba32-caf279e66878",
              "name": "platform.id",
              "value": "1",
              "type": "string"
            },
            {
              "id": "915ad2a6-dcd9-4dd6-9463-8acaf37f3ad0",
              "name": "platform.icon",
              "value": "https://zoro-icon.s3.ir-tbz-sh1.arvanstorage.ir/drdr.png",
              "type": "string"
            },
            {
              "id": "0bce6483-9ec0-4097-a2f5-3d3526c0bf14",
              "name": "platform.link",
              "value": "https://panel.drdr.ir/",
              "type": "string"
            },
            {
              "id": "6c31c0d6-c5c9-4de6-a87d-7accbe5e0eaf",
              "name": "center.id",
              "value": "={{ $json.center_id }}",
              "type": "string"
            },
            {
              "id": "edbe219a-4121-4626-842e-089576be4ebd",
              "name": "center.name",
              "value": "={{ $json.center_name }}",
              "type": "string"
            },
            {
              "id": "0136c2c3-dfab-4725-8bc7-96fa4e2d909b",
              "name": "center.address",
              "value": "={{ $json.center_address }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        -32
      ],
      "id": "667a37cd-12dc-491c-8c09-e1ebee4c9b6f",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-ycgphjgy.eu-central-1.clawcloudrun.com/webhook/drdr",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.access_token}}"
            },
            {
              "name": "client-id",
              "value": "={{$json.client_id}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"doctor_id\": {{ $json.platform_doctor_id }},\n  \"page\": 1,\n  \"scheduled_date\": \"{{ $('Webhook').item.json.body.date }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2992,
        384
      ],
      "id": "bee92c0b-71b6-47f3-827b-2fcc341981e3",
      "name": "appointments/search5",
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "doctor_id",
              "type": "number"
            },
            {
              "name": "date"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -3504,
        544
      ],
      "id": "1484a056-5083-483a-88e6-2ce62f9779fe",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        160
      ],
      "id": "0d7e241e-d905-42c1-a59b-7628c84a933b",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1472,
        448
      ],
      "id": "62a8f60f-8fbe-473a-9225-e320a64396e6",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2368,
        528
      ],
      "id": "731e9c75-7847-4bca-b500-f8425c0928f0",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2768,
        544
      ],
      "id": "75ea9dd1-7ec6-4b80-891c-6885678b1258",
      "name": "Edit Fields7"
    }
  ],
  "connections": {
    "appointments/search": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buildPages": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "appointments/search1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "find doctor id": {
      "main": [
        [
          {
            "node": "does dr exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "does dr exists": {
      "main": [
        [],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "appointments/search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "buildPages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "appointments/search1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "buildPages1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "appointments/search2": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code9": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Code9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "appointments/search3": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "appointments/search3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buildPages1": {
      "main": [
        [
          {
            "node": "Split Out4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "appointments/search4": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out4": {
      "main": [
        [
          {
            "node": "appointments/search4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code11": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter4": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Code11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code10": {
      "main": [
        [
          {
            "node": "Filter4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        []
      ]
    },
    "appointments/search5": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "versionId": "8e50fd03-15d9-4e0b-8dcb-3668bc2109c3",
  "owner": {
    "type": "team",
    "teamId": "pzvw8g7gyGnUF15Q",
    "teamName": "calendar"
  },
  "parentFolderId": null,
  "isArchived": false
}