workflows/7NQONi0Z0jQ3qaT8.json
{
  "id": "7NQONi0Z0jQ3qaT8",
  "name": "drdr/clinic",
  "nodes": [
    {
      "parameters": {
        "url": "https://panel.drdr.ir/api/v3/me",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "accept-language",
              "value": "en-US,en;q=0.9,fa;q=0.8,ar;q=0.7"
            },
            {
              "name": "authorization",
              "value": "=Bearer {{ $json.access_token.startsWith('auth_token=') ? $json.access_token.substring('auth_token='.length) : $json.access_token }}"
            },
            {
              "name": "cache-control",
              "value": "no-cache"
            },
            {
              "name": "client-id",
              "value": "={{ $json.client_id }}"
            },
            {
              "name": "pragma",
              "value": "no-cache"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://panel.drdr.ir/?_gl=1*1o19kt2*_gcl_au*MjExMDMxNDgzLjE3NTU3ODQ2OTg.*_ga*ODE3ODk1MzE5LjE3NTU3ODQ2OTk.*_ga_0Y8NF1G4YD*czE3NTc3NjA4MzIkbzUkZzEkdDE3NTc3NjA4MzUkajU3JGwwJGgw&_ga=2.19970686.715683761.1757760835-817895319.1755784699"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-origin"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36 Edg/140.0.0.0"
            },
            {
              "name": "user-role",
              "value": "doctor"
            },
            {
              "name": "user-role-id",
              "value": "={{ $json.platform_doctor_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        -240
      ],
      "id": "e3098d12-0cd6-4101-8edd-00efdffaa0a2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9aed994-d783-4047-bd8d-6adbc106aba5",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "7fbaf1ce-0b43-4151-b6cd-90a4d0753676",
              "name": "name",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "28e934b1-748b-46a1-aaa5-c3acbd3a29d3",
              "name": "tell",
              "value": "={{ $json.phones[0] }}",
              "type": "string"
            },
            {
              "id": "5ee28ad3-0eb8-40b7-8764-8a420de78652",
              "name": "address",
              "value": "={{ $json.address }}",
              "type": "string"
            },
            {
              "id": "467a00ca-4c0e-4677-9cb2-cfe67b7a08bb",
              "name": "map.lat",
              "value": "={{ $json.latitude }}",
              "type": "string"
            },
            {
              "id": "11a02f87-1017-456b-8be4-8a9d81f50eca",
              "name": "map.long",
              "value": "={{ $json.longitude }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        -240
      ],
      "id": "8bc79aab-675f-420b-86fc-fdb830bec2db",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://panel.drdr.ir/api/v3/me",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "accept-language",
              "value": "en-US,en;q=0.9,fa;q=0.8,ar;q=0.7"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJjMTlmOWM3Ny0yMzRmLTRhZjYtYTE0ZS03OGY3NjU5MWYwYjEiLCJqdGkiOiIxODZhOTNiMzRiMTYwNGQwZTZkNjkyMWQzODM0MTI2ZTM4OWU3MzQ5NWNjNWQ5MDVlMzkyM2YyMDY5Mzg0MjVmY2ZhZjFlM2FmN2MxMzRjMiIsImlhdCI6MTc1NTc4NDgwMi41MzY5NTEsIm5iZiI6MTc1NTc4NDgwMi41MzY5NTQsImV4cCI6MTc2MzczMzYwMi41MTgxNTUsInN1YiI6IjI3OTk0Iiwic2NvcGVzIjpbXX0.snc8F-qqvyuNpQLE_5D-TXYcgV4RQydweIEuOj65If4CPYwFUSIV-G3_H-tDTOmScvvz-YpREafctMFpGuIgNPDtJl9oigk9jtniYfKwu9Hr3lpReZEOUWT7kir3_tjHsLR8a2WBOqKFV02CANOsFUQ7YKD3Z1q1oyP2bV_AqYv1U_0wdb54rHa9eVfK-cm_DOQgUVOXrgqIwQeBaBUmFScvb7CB0Qjjo_ZheKJ3ase41k85GC21FuY4cV1U6_8Ff8lFBd93udycXT2Mb5CDoMpoYGXSnq4NR99pbc_khtWuhXXLfWnmpZ1qMUFDnsSc_ff4TVNfcbO3m-LFm5_H8Hq0YrhRTY1Cl62d23NVdQciWiED5wMjYi7TsqH4LBFFwhYpYvi8OqQ-qWNxu7e_aTlptItDnfPlqcAI9ZXgtyHNulqBMhw_9uQ9KxdTtcQyCduTLWfkgNdOdM40g056sgUkjQo4s1wuTwXdh0rNK5ABsmg7cCnks-v5woz4nZV4rx4ZmlG0R7vTjrmuiw4TtW4aUwMSRTQs_a8SsB_CDxKXbkZcaZT2eGyXAedfzhbvDh1t_pIXcOJn3od6LTLWVPvUpGG1fRIGb1ta1buRJoGiVjw9uw8iPH86fdF7d-6EwxgR303ZIAxRTC77o38xyWiYbGgJsZGhZ--T2YCF8S8"
            },
            {
              "name": "cache-control",
              "value": "no-cache"
            },
            {
              "name": "client-id",
              "value": "c19f9c77-234f-4af6-a14e-78f76591f0b1"
            },
            {
              "name": "pragma",
              "value": "no-cache"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://panel.drdr.ir/?_gl=1*1o19kt2*_gcl_au*MjExMDMxNDgzLjE3NTU3ODQ2OTg.*_ga*ODE3ODk1MzE5LjE3NTU3ODQ2OTk.*_ga_0Y8NF1G4YD*czE3NTc3NjA4MzIkbzUkZzEkdDE3NTc3NjA4MzUkajU3JGwwJGgw&_ga=2.19970686.715683761.1757760835-817895319.1755784699"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Microsoft Edge\";v=\"140\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-origin"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36 Edg/140.0.0.0"
            },
            {
              "name": "user-role",
              "value": "doctor"
            },
            {
              "name": "user-role-id",
              "value": "27994"
            },
            {
              "name": "cookie",
              "value": "_gcl_au=1.1.211031483.1755784698;_gid=GA1.2.715683761.1757760835;_gat_UA-101159391-1=1;_ga_0Y8NF1G4YD=GS2.1.s1757760832$o5$g1$t1757760839$j53$l0$h0;_ga=GA1.1.817895319.1755784699;_ga_FFET8W66JW=GS2.1.s1757760842$o10$g0$t1757760851$j51$l0$h0;"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        -464
      ],
      "id": "3c35149c-412a-43a9-ba9e-c305e493059e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "result.user.clinics",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1088,
        -240
      ],
      "id": "899bfac3-6bf1-4f51-8a79-55df34272b00",
      "name": "Split Out"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "dr_id",
              "type": "number"
            },
            {
              "name": "clinics",
              "type": "array"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        688,
        -512
      ],
      "id": "2aac663d-bae6-4028-9b2f-528b44d6fab4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "centers",
          "mode": "list",
          "cachedResultName": "centers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "center_id": "={{ $json.id }}",
            "platform_id": 1,
            "doctor_id": "={{ $('Select rows from a table1').item.json.id }}",
            "lat": "={{ $json.map.lat }}",
            "lon": "={{ $json.map.long }}",
            "center_name": "={{ $json.name }}",
            "center_tell": "={{ $json.tell }}",
            "center_address": "={{ $json.address }}",
            "last_update": "={{ $now.setZone('Asia/Tehran').toISO() }}",
            "doctor_name": "={{ $('Select rows from a table1').item.json.full_name }}"
          },
          "matchingColumns": [
            "center_id",
            "platform_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "doctor_id",
              "displayName": "doctor_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "center_id",
              "displayName": "center_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "center_name",
              "displayName": "center_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "center_tell",
              "displayName": "center_tell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "center_address",
              "displayName": "center_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "lat",
              "displayName": "lat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "lon",
              "displayName": "lon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "platform_id",
              "displayName": "platform_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_update",
              "displayName": "last_update",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "doctor_name",
              "displayName": "doctor_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1536,
        -240
      ],
      "id": "309ad06d-787d-4918-87af-55f6dc91b528",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctors",
          "mode": "list",
          "cachedResultName": "doctors"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.dr_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        -240
      ],
      "id": "6926977a-9f85-40e5-855f-50545a2a374c",
      "name": "Select rows from a table1",
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        -16
      ],
      "id": "01a35253-232d-4644-8839-ce81a1752d2a",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "1999634605",
        "text": "❌drdr/clinic V2 has error❌",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        192,
        -16
      ],
      "id": "0b1ae73e-d99f-49b5-b1a9-9e84ed58c5d7",
      "name": "Send a text message",
      "webhookId": "c71cc3d3-9a06-4554-8a04-2b087e5e05a3",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "3UN48Ejir4Oxfhcd",
          "name": "calendar_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctor_platform_credentials",
          "mode": "list",
          "cachedResultName": "doctor_platform_credentials"
        },
        "where": {
          "values": [
            {
              "column": "doctor_id",
              "value": "={{ $json.id }}"
            },
            {
              "column": "platform_id",
              "value": "1"
            },
            {
              "column": "is_valid",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        -240
      ],
      "id": "6d929939-2208-4c85-9fee-4da993ea6592",
      "name": "Select rows from a table2",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "7da7bbab-7913-41bb-83cb-6581bcb807b2",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        -240
      ],
      "id": "528c7c3d-89a9-4305-9fd1-2f85ae99c801",
      "name": "is_empty"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctors",
          "mode": "list",
          "cachedResultName": "doctors"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.dr_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        -512
      ],
      "id": "f529cda9-c97d-478d-a6c1-4bb86e259da8",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "Select rows from a table2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table2": {
      "main": [
        [
          {
            "node": "is_empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is_empty": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "d39f1bf0-a20a-4384-b6e1-5e98b7798425",
  "owner": {
    "type": "team",
    "teamId": "pzvw8g7gyGnUF15Q",
    "teamName": "calendar"
  },
  "parentFolderId": null,
  "isArchived": false
}