workflows/8ef0BKQShtB1JMvd.json
{
  "id": "8ef0BKQShtB1JMvd",
  "name": "doctoreto/get-appointment V2",
  "nodes": [
    {
      "parameters": {
        "path": "7a2e41c7-ee0e-4af8-af57-558a1a1cd6d7",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        496
      ],
      "id": "69ecef7b-491c-4013-b5d5-bbd7c4f49b06",
      "name": "Webhook",
      "webhookId": "7a2e41c7-ee0e-4af8-af57-558a1a1cd6d7"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctors",
          "mode": "list",
          "cachedResultName": "doctors"
        },
        "where": {
          "values": [
            {
              "column": "p24_id",
              "value": "={{ $json.body.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -48,
        496
      ],
      "id": "2d679f8f-934f-430e-a725-558b937013d4",
      "name": "find doctor id",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d2221ad-d208-477f-a76f-9c366f7e3194",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        496
      ],
      "id": "8a4e2b51-51bd-41a9-863e-c29eca3cd606",
      "name": "does dr exists"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "dr does not exist",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        400,
        496
      ],
      "id": "7ff6c80e-d02b-4d47-a672-34ab29846f1c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "=https://api.doctoreto.com/api/web/doctor/v1/orders/turn-date/{{ $('When Executed by Another Workflow').item.json.date }}?search=[(type+!%3D+4)]&page=1 ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "accept-language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "app-device",
              "value": "dboJfdAxWU"
            },
            {
              "name": "app-version",
              "value": "2.1.1"
            },
            {
              "name": "origin",
              "value": "https://doctorpanel.doctoreto.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://doctorpanel.doctoreto.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not;A=Brand\";v=\"99\", \"Google Chrome\";v=\"139\", \"Chromium\";v=\"139\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?1"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Android\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "={{ $json.userAgent }}"
            },
            {
              "name": "cookie",
              "value": "={{ $('Select rows from a table').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        -240
      ],
      "id": "59006374-a107-4308-809f-630870d6b788",
      "name": "list ",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1744,
        -624
      ],
      "id": "7ae46e9b-3178-4d97-a0ff-a6e97fd7179c",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctor_platform_credentials",
          "mode": "list",
          "cachedResultName": "doctor_platform_credentials"
        },
        "where": {
          "values": [
            {
              "column": "doctor_id",
              "value": "={{ $json.doctor_id }}"
            },
            {
              "column": "platform_id",
              "value": "2"
            },
            {
              "column": "is_valid",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -48,
        -336
      ],
      "id": "3ddabc75-2948-4b56-9091-691d6695711c",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://zoro-calendar.ir/webhook/random_user_agent",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -272,
        1040
      ],
      "id": "70623e9f-b639-4163-a771-5cdc204012cd",
      "name": "HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e581cbf-63da-447f-a529-04f075eb7d51",
              "name": "id",
              "value": "={{ $json.appointment_id }}",
              "type": "string"
            },
            {
              "id": "10b3b3f8-871a-4001-ad7a-394a09fa63e7",
              "name": "type",
              "value": "={{ $json.type }}",
              "type": "string"
            },
            {
              "id": "242e5ad6-440b-4408-9bb5-d47d11d0a811",
              "name": "type_id",
              "value": "={{ $json.type_id }}",
              "type": "string"
            },
            {
              "id": "ae59be4e-def7-48fe-8229-fb99ba2aa129",
              "name": "user_center_id",
              "value": "=",
              "type": "string"
            },
            {
              "id": "e78dc91c-47d5-42d1-9a4d-6b6116b87f25",
              "name": "book_status",
              "value": "visited",
              "type": "string"
            },
            {
              "id": "3f3bae6f-e1f8-4798-b756-2997bb278ebb",
              "name": "ref_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "abcccb4d-b597-4419-a1b6-b20d54bc7697",
              "name": "from",
              "value": "={{ $json.scheduled_from_timestamp }}",
              "type": "string"
            },
            {
              "id": "73c02c16-2f2c-4f0d-9d6f-5cdce6397393",
              "name": "to",
              "value": "",
              "type": "string"
            },
            {
              "id": "9131405c-0046-44b9-9e0b-dc1ed62343bc",
              "name": "from_date",
              "value": "={{ $json.scheduled_from_iso }}",
              "type": "string"
            },
            {
              "id": "f03a9eea-046e-4500-a598-45d7cd728b58",
              "name": "to_date",
              "value": "",
              "type": "string"
            },
            {
              "id": "624b10a3-4869-4746-a379-a6b8671e2847",
              "name": "name",
              "value": "={{ $json.firstname }}",
              "type": "string"
            },
            {
              "id": "7a1a1358-7ae0-4e92-a333-630f869f5476",
              "name": "family",
              "value": "={{ $json.lastname }}",
              "type": "string"
            },
            {
              "id": "b50235bb-c51b-478e-9f5c-68c9ece5a5f0",
              "name": "display_name",
              "value": "={{ $json.firstname }} {{ $json.lastname }}",
              "type": "string"
            },
            {
              "id": "b6d8980d-1f0e-44cb-a928-2b3b0120d1ad",
              "name": "cell",
              "value": "={{ $json.mobile }}",
              "type": "string"
            },
            {
              "id": "9676ded4-2327-4878-b43b-115fae97afd8",
              "name": "national_code",
              "value": "={{ $json.national_code }}",
              "type": "string"
            },
            {
              "id": "f3d56483-d199-4863-af0a-836609384b7c",
              "name": "payment_status",
              "value": "paid",
              "type": "string"
            },
            {
              "id": "a622b7c1-0136-4737-b9b2-07921170b163",
              "name": "cost",
              "value": "",
              "type": "string"
            },
            {
              "id": "0f8c52bb-96c1-4686-9651-77ce4245dc40",
              "name": "insurance",
              "value": "",
              "type": "string"
            },
            {
              "id": "ae2d6cc1-eda9-4254-a633-e38d2150c5a8",
              "name": "platform.name",
              "value": "doctoreto",
              "type": "string"
            },
            {
              "id": "fff1e543-a214-45cf-8582-e01ab3920289",
              "name": "platform.p_name",
              "value": "دکترتو",
              "type": "string"
            },
            {
              "id": "96551e2e-be18-457b-b537-d943431892ac",
              "name": "platform.id",
              "value": "2",
              "type": "string"
            },
            {
              "id": "467a0fbb-e64b-4488-bd20-8ede5ea58a01",
              "name": "platform.icon",
              "value": "https://zoro-icon.s3.ir-tbz-sh1.arvanstorage.ir/doctoreto.png",
              "type": "string"
            },
            {
              "id": "0959cc42-7db6-4ca3-a128-1f8e7084e212",
              "name": "platform.link",
              "value": "https://doctorpanel.doctoreto.com/",
              "type": "string"
            },
            {
              "id": "45d3356d-c55b-435e-9b53-59b8c0075df6",
              "name": "center.id",
              "value": "={{ $json.place_id }}",
              "type": "string"
            },
            {
              "id": "6c2b9a1f-b3aa-4b22-9b26-57eb0d0baa13",
              "name": "center.name",
              "value": "={{ $json.place_name }}",
              "type": "string"
            },
            {
              "id": "62b51991-0c6e-4ed2-bf73-1329b857f734",
              "name": "center.address",
              "value": "={{ $json.place_address }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2192,
        -624
      ],
      "id": "d9b7dab1-67a0-4f1b-96ae-d8fe6e1917b0",
      "name": "Edit Fields",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// تابع تبدیل تاریخ شمسی به میلادی\nfunction jalaliToGregorian(j_y, j_m, j_d) {\n    var j_days_in_month = [31, 31, 31, 31, 31, 31, 30, 30, 30, 30, 30, 29];\n    var g_days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];\n    var gy, gm, gd;\n    var jy, jm, jd;\n    var g_day_no, j_day_no;\n    var leap;\n    var i;\n\n    jy = j_y - 979;\n    jm = j_m - 1;\n    jd = j_d - 1;\n\n    j_day_no = 365 * jy + parseInt(jy / 33) * 8 + parseInt((jy % 33 + 3) / 4);\n    for (i = 0; i < jm; ++i)\n        j_day_no += j_days_in_month[i];\n\n    j_day_no += jd;\n    g_day_no = j_day_no + 79;\n    gy = 1600 + 400 * parseInt(g_day_no / 146097);\n    g_day_no = g_day_no % 146097;\n    leap = 1;\n    if (g_day_no >= 36525) {\n        g_day_no--;\n        gy += 100 * parseInt(g_day_no / 36524);\n        g_day_no = g_day_no % 36524;\n        if (g_day_no >= 365)\n            g_day_no++;\n        else\n            leap = 0;\n    }\n    gy += 4 * parseInt(g_day_no / 1461);\n    g_day_no %= 1461;\n    if (g_day_no >= 366) {\n        leap = 0;\n        g_day_no--;\n        gy += parseInt(g_day_no / 365);\n        g_day_no = g_day_no % 365;\n    }\n    for (i = 0; g_day_no >= g_days_in_month[i] + (i == 1 && leap); i++)\n        g_day_no -= g_days_in_month[i] + (i == 1 && leap);\n    gm = i + 1;\n    gd = g_day_no + 1;\n    return [gy, gm, gd];\n}\n\n// ==========================================================\n// منطق اصلی برای پردازش هر آیتم\n// ==========================================================\n\nconst runAt = new Date().toISOString();\nconst defaultDoctorId = \"12061\";\n\nreturn items.map(it => {\n    const a = it.json;\n\n    // 1. استخراج اطلاعات اولیه\n    // [FIX]: استخراج تاریخ و زمان به صورت دقیق‌تر\n    const fullScheduledDate = a.context?.shamsi_turn_date || ''; // e.g., \"1404/08/14 12:00:00\"\n    const scheduledTime = a.context?.shamsi_turn_time || '';     // e.g., \"12:00:00\"\n    const scheduledDate = fullScheduledDate.split(' ')[0] || ''; // e.g., \"1404/08/14\"\n\n    let firstname = a.patient?.first_name || '';\n    let lastname = a.patient?.last_name || '';\n    if (a.customer?.full_name && a.customer.full_name !== a.patient?.full_name) {\n        const parts = a.customer.full_name.trim().split(' ');\n        firstname = parts[0] || firstname;\n        lastname = parts.slice(1).join(' ') || lastname;\n    }\n\n    // [FIX]: ساخت 'scheduled_from' از بخش‌های تاریخ و زمان تمیز شده\n    const scheduled_from = (scheduledDate && scheduledTime) ? `${scheduledDate} ${scheduledTime}` : '';\n\n    // 2. تبدیل تاریخ در صورت وجود\n    let isoDate = null;\n    let timestamp = null;\n\n    if (scheduled_from) {\n        try {\n            const parts = scheduled_from.split(' ');\n            const datePart = parts[0];\n            const timePart = parts[1];\n\n            const [jYear, jMonth, jDay] = datePart.split('/').map(Number);\n            const [hour, minute, second] = timePart.split(':').map(Number);\n\n            const [gYear, gMonth, gDay] = jalaliToGregorian(jYear, jMonth, jDay);\n            \n            const pad = (num) => String(num).padStart(2, '0');\n\n            isoDate = `${gYear}-${pad(gMonth)}-${pad(gDay)}T${pad(hour)}:${pad(minute)}:${pad(second)}+03:30`;\n            \n            const correctDate = new Date(isoDate);\n            timestamp = Math.floor(correctDate.getTime() / 1000);\n\n        } catch (error) {\n            console.error(\"Could not parse or convert date:\", scheduled_from, error);\n        }\n    }\n  let place_id = \"\";\n  let place_name = \"\";\n  let place_address = \"\";\n\n    // 3. ساخت خروجی نهایی\n    const output = {\n        run_at: runAt,\n        scheduled_date: scheduledDate, // [FIX]: 'scheduledDate' الان فقط تاریخ است\n        scheduled_time: scheduledTime,\n        appointment_id: a.id?.toString() || '', // تبدیل به رشته برای اطمینان\n        user_patient_id: a.patient?.id?.toString() || '', // تبدیل به رشته\n        firstname,\n        lastname,\n        mobile: a.patient?.user?.mobile?.toString() || a.customer?.mobile?.toString() || '',\n        national_code: a.customer?.national_code || a.patient?.national_code || '',\n        scheduled_from: scheduled_from,\n        \n        scheduled_from_iso: isoDate,\n        scheduled_from_timestamp: timestamp,\n\n        scheduled_to: '',\n        doctor_id: a.context?.doctor?.id?.toString() || defaultDoctorId, // تبدیل به رشته\n        source_page: '',\n        raw_json: JSON.stringify(a),\n        place_id,place_name,place_address,\n    };\n\n    // 👇 فقط وقتی type.value === 0 باشه\n    if (a.type && a.type.value === 0) {\n        output.type = \"in_person\";\n        output.type_id = 1;\n        \n        // [FIX]: اطلاعات 'place' باید از خود آیتم 'a' خوانده شود، نه از '$input.first()'\n        // از 'optional chaining' (?. ) برای جلوگیری از خطا در صورت null بودن مقادیر استفاده شده\n        output.place_id = a.context?.doctor?.doctor_place?.place?.id?.toString() || \"\";\n        output.place_name = a.context?.doctor?.doctor_place?.place?.name || \"\";\n        output.place_address = a.context?.doctor?.doctor_place?.place?.address || \"\";\n    }\n  if (a.type && a.type.value === 1) {\n        output.type = \"online\";\n        output.type_id = 2;\n        \n        // [FIX]: اطلاعات 'place' باید از خود آیتم 'a' خوانده شود، نه از '$input.first()'\n        // از 'optional chaining' (?. ) برای جلوگیری از خطا در صورت null بودن مقادیر استفاده شده\n        output.place_id = a.context?.doctor?.doctor_place?.place?.id?.toString() || \"\";\n        output.place_name = a.context?.doctor?.doctor_place?.place?.name || \"\";\n        output.place_address = a.context?.doctor?.doctor_place?.place?.address || \"\";\n    }\n\n    return { json: output };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        -624
      ],
      "id": "a58e0e66-4ac7-4035-9023-695b067bb646",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctor_platform_credentials",
          "mode": "list",
          "cachedResultName": "doctor_platform_credentials"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "access_token": "={{ $json.headers[\"set-cookie\"][0] }}",
            "phone_in_platform": "=",
            "platform_id": "={{ $('Select rows from a table').item.json.platform_id }}",
            "doctor_id": "={{ $('When Executed by Another Workflow').item.json.doctor_id }}",
            "refresh_token": "=",
            "updated_at": "={{ new Date(Date.now() - 24*60*60*1000).toLocaleString(\"sv-SE\", { timeZone: \"Asia/Tehran\", hour12: false }).replace(\" \", \"T\") + \"+03:30\" }}"
          },
          "matchingColumns": [
            "doctor_id",
            "platform_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "doctor_id",
              "displayName": "doctor_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "platform_id",
              "displayName": "platform_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "platform_doctor_id",
              "displayName": "platform_doctor_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "client_secret",
              "displayName": "client_secret",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "expires_at",
              "displayName": "expires_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "token_created",
              "displayName": "token_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "phone_in_platform",
              "displayName": "phone_in_platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        848,
        -320
      ],
      "id": "f8468892-ece5-4d20-a20e-6998c1e3acb5",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ff880df-d894-4f6a-8b25-ac891b0538d0",
              "leftValue": "={{ $json.items }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        -528
      ],
      "id": "f74d0e21-da79-4cbd-9b1c-5219d2ba49ae",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "https://api.doctoreto.com/api/web/doctor/v1/accounts/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "accept-language",
              "value": "en-US,en;q=0.9,fa;q=0.8,ar;q=0.7"
            },
            {
              "name": "app-device",
              "value": "LsHcvdVHXL"
            },
            {
              "name": "app-version",
              "value": "2.1.1"
            },
            {
              "name": "origin",
              "value": "https://doctorpanel.doctoreto.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://doctorpanel.doctoreto.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not;A=Brand\";v=\"99\", \"Microsoft Edge\";v=\"139\", \"Chromium\";v=\"139\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36 Edg/139.0.0.0"
            },
            {
              "name": "Cookie",
              "value": "={{ $json.access_token }}"
            },
            {
              "name": "cookie",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        -336
      ],
      "id": "21e76b9e-4f9c-4a31-b652-42661966aefa",
      "name": "refresh_token1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "47fd1bae-7d1d-42d1-8cd9-73e7176f167d",
              "leftValue": "={{ $json.headers[\"set-cookie\"] }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        -240
      ],
      "id": "3020554c-3e4d-44ea-a33d-6972b9b1fa15",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        720
      ],
      "id": "49151105-c6db-4ebc-b147-70ead1a3ea21",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "1999634605",
        "text": "❌doctoreto/get appointment has error❌",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -48,
        720
      ],
      "id": "7acb9727-a6d5-4db6-8afd-eba5a9a00410",
      "name": "Send a text message",
      "webhookId": "86c59b9a-1fb7-47a2-bcfa-d5f21791517c",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "AcKnlUwXjcsQk1Cl",
          "name": "widget"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1999634605",
        "text": "❌doctoreto/get-appointment has error (http reqest for refresh)❌",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        -144
      ],
      "id": "d9fd75ed-438c-4fdb-88fe-e5e68a808ed5",
      "name": "Send a text message3",
      "webhookId": "e5a1000e-90e4-4836-a8d1-4402aeb87281",
      "credentials": {
        "telegramApi": {
          "id": "AcKnlUwXjcsQk1Cl",
          "name": "widget"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1999634605",
        "text": "❌doctoreto/get-appointment has error (http request for user agent)❌",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -48,
        1136
      ],
      "id": "cb84b9b9-2848-4ba5-a795-259a33b8929b",
      "name": "Send a text message4",
      "webhookId": "9933a70a-d216-4d46-972e-3772867a10ff",
      "credentials": {
        "telegramApi": {
          "id": "AcKnlUwXjcsQk1Cl",
          "name": "widget"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1999634605",
        "text": "❌doctoreto/get-appointment has error (http request)❌",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1520,
        48
      ],
      "id": "c51ea062-fbbb-4ab6-bef3-2edc1de6d51f",
      "name": "Send a text message5",
      "webhookId": "ac0cb13e-ab37-4ab9-bed6-e56a3ad88046",
      "credentials": {
        "telegramApi": {
          "id": "AcKnlUwXjcsQk1Cl",
          "name": "widget"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctor_platform_credentials",
          "mode": "list",
          "cachedResultName": "doctor_platform_credentials"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_valid": false,
            "id": "={{ $('Select rows from a table').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "doctor_id",
              "displayName": "doctor_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "platform_id",
              "displayName": "platform_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "platform_doctor_id",
              "displayName": "platform_doctor_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_secret",
              "displayName": "client_secret",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "expires_at",
              "displayName": "expires_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "token_created",
              "displayName": "token_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone_in_platform",
              "displayName": "phone_in_platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_valid",
              "displayName": "is_valid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1744,
        -144
      ],
      "id": "3da8e0cd-bf1e-45d9-93da-1ef1fb2a21d0",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04b4436d-7bc9-4023-9637-267c17b7c1eb",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 403,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        -144
      ],
      "id": "a7e27962-bac4-41a6-9ef9-07be51785934",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7087e289-9db7-411d-ac81-4464b62820b5",
              "leftValue": "={{ $json.body.items.isValid }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        -528
      ],
      "id": "1d3e0d27-a46e-4b2f-bf57-2227c2bce3a1",
      "name": "If5"
    },
    {
      "parameters": {
        "chatId": "1999634605",
        "text": "❌doctoreto/get-appointment has error ( token is invalid)❌",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        -432
      ],
      "id": "6b20b44f-e831-419f-a695-cef799c8006b",
      "name": "Send a text message6",
      "webhookId": "c7588cb8-9e7b-4816-9d1e-2e51c34c5156",
      "credentials": {
        "telegramApi": {
          "id": "AcKnlUwXjcsQk1Cl",
          "name": "widget"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctor_platform_credentials",
          "mode": "list",
          "cachedResultName": "doctor_platform_credentials"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_valid": false,
            "id": "={{ $('Select rows from a table').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "doctor_id",
              "displayName": "doctor_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "platform_id",
              "displayName": "platform_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "platform_doctor_id",
              "displayName": "platform_doctor_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_secret",
              "displayName": "client_secret",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "expires_at",
              "displayName": "expires_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "token_created",
              "displayName": "token_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone_in_platform",
              "displayName": "phone_in_platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_valid",
              "displayName": "is_valid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        -816
      ],
      "id": "025ac069-7b60-4132-8e22-fc31b813e5b1",
      "name": "Update rows in a table1",
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apigw.paziresh24.com/v1/hamdast/apps/zorocalandar/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "35399abd-59bb-40e3-85d8-b4699088bed3"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $('find doctor id').item.json.p24_user_id }}\",\n  \"title\": \"تو همه پلتفرم هات لاگین نیستی!\",\n  \"description\": \"یک یا چندتا از پلتفرم های نوبت دهی ات نیاز به لاگین دوباره دارن. با کلیک روی همین پیام داخل اون پلتفرم ها دوباره لاگین کن تا همه نوبت هارو یکجا داشته باشی \",\n  \"link\": \"https://www.paziresh24.com/_/zorocalandar/launcher/\",\n  \"action_button_text\": \"صفحه تقویم یکپارچه\",\n  \"display_at\": [\n    \"doctor_calendar\"\n  ]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -272,
        112
      ],
      "id": "1c17aa4f-ad58-4de9-9bd1-0bded513de47",
      "name": "send notification"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -48,
        272
      ],
      "id": "264555d3-f5f2-4bf0-bb4e-7e4a239ec2db",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "58bf3249-e47c-4014-9d4f-9663865dcf37",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -272,
        272
      ],
      "id": "c1903501-b001-4c12-8bda-0f29324af4a9",
      "name": "If4",
      "disabled": true
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "doctor_id",
              "type": "number"
            },
            {
              "name": "date"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -272,
        -336
      ],
      "id": "bf112a08-63ee-483c-a282-f43a02353499",
      "name": "When Executed by Another Workflow",
      "notesInFlow": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xtwLYdZ55ENktJca",
          "mode": "list",
          "cachedResultUrl": "/workflow/xtwLYdZ55ENktJca",
          "cachedResultName": "calendar — random_user_agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1072,
        -240
      ],
      "id": "32da0450-8038-43a9-961e-e118d88faaea",
      "name": "Call 'random_user_agent'"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        -336
      ],
      "id": "04e1e592-d122-42fa-81b9-d0fdfb0b5e3e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        -432
      ],
      "id": "5d4eb079-fda9-41bd-ad47-6efcbd5f162c",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        944
      ],
      "id": "f012fd47-c181-4c1b-925a-0462e24e9396",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -624
      ],
      "id": "1402b881-620e-4862-a87c-748ed0c03b21",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        -336
      ],
      "id": "07744dde-3c53-45d0-a8a9-c2564c9a3819",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1O1Ar7rp3nPechp1",
          "mode": "list",
          "cachedResultUrl": "/workflow/1O1Ar7rp3nPechp1",
          "cachedResultName": "calendar — p24_send_notification"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "doctor_id": "={{ $('When Executed by Another Workflow').item.json.doctor_id }}",
            "title": "تو همه پلتفرم هات لاگین نیستی!",
            "description": "یک یا چندتا از پلتفرم های نوبت دهی ات نیاز به لاگین دوباره دارن. با کلیک روی همین پیام داخل اون پلتفرم ها دوباره لاگین کن تا همه نوبت هارو یکجا داشته باشی "
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "doctor_id",
              "displayName": "doctor_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        624,
        -1040
      ],
      "id": "ba0df96c-64d8-40c9-bbad-882bef8c2732",
      "name": "Call 'send_notification'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1O1Ar7rp3nPechp1",
          "mode": "list",
          "cachedResultUrl": "/workflow/1O1Ar7rp3nPechp1",
          "cachedResultName": "calendar — p24_send_notification"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "یه نکته کوچیک درباره اتصال دکترتو!",
            "description": "={{$json.phone_in_platform && $json.phone_in_platform !== \"\" \n? `به نظر می‌رسه توی دکترتو هنوز اکانتی با شماره ${$json.phone_in_platform} برات ثبت نشده و برای همین دسترسی فعلی غیرفعال شده.` \n: \"به نظر می‌رسه توی دکترتو هنوز اکانتی با این شماره برات ثبت نشده و برای همین دسترسی فعلی غیرفعال شده.\"}}\n",
            "doctor_id": 127
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "doctor_id",
              "displayName": "doctor_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1952,
        -144
      ],
      "id": "7d1bd682-2435-4851-86af-e6196c019e32",
      "name": "Call 'p24_send_notification'"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "find doctor id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "find doctor id": {
      "main": [
        [
          {
            "node": "does dr exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "does dr exists": {
      "main": [
        [],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "list ": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          },
          {
            "node": "If3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "refresh_token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [],
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Call 'random_user_agent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "refresh_token1": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'random_user_agent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message4": {
      "main": [
        []
      ]
    },
    "Send a text message5": {
      "main": [
        []
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update rows in a table1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'send_notification'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message6": {
      "main": [
        []
      ]
    },
    "If4": {
      "main": [
        [],
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    },
    "Call 'random_user_agent'": {
      "main": [
        [
          {
            "node": "list ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Call 'p24_send_notification'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "versionId": "e4d8da32-5202-46f3-9a45-cdce9ae49c62",
  "owner": {
    "type": "team",
    "teamId": "pzvw8g7gyGnUF15Q",
    "teamName": "calendar"
  },
  "parentFolderId": "u1ky7ueH61cKlVNe",
  "isArchived": false
}