workflows/jbaYybageufD8td6.json
{
  "id": "jbaYybageufD8td6",
  "name": "doctoreto/get-appointment",
  "nodes": [
    {
      "parameters": {
        "path": "doctoreto/get-appointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        208
      ],
      "id": "27947902-eaf5-4933-adda-1bb5043af51e",
      "name": "Webhook",
      "webhookId": "be688471-eb2c-4180-b3ab-f9a1ad199384"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.errorMessage }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        400,
        400
      ],
      "id": "3e7c054b-2341-437f-be31-67c279f9e2bb",
      "name": "wrong data response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "66a29011-186b-41a9-9272-557cd6490c9e",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        400
      ],
      "id": "2e817320-8843-4633-895b-6f557f21b536",
      "name": "is input valid",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// دریافت اولین آیتم ورودی\nconst item = items[0];\nconst body = item.json.body || {};\n\n// استخراج id و date از body وب‌هوک\nconst received_id = body.p24_id;\nconst date_str = body.date;\n\nconst errorMessages = [];\n\n// --- شروع اعتبارسنجی ---\n\n// 1. اعتبارسنجی ID\nif (!received_id) {\n  errorMessages.push(\"ID is missing or empty.\");\n}\n\n// 2. اعتبارسنجی Date\nif (!date_str) {\n  errorMessages.push(\"Date is missing.\");\n} else {\n  const receivedDate = new Date(date_str);\n  \n  // بررسی اینکه آیا تاریخ ورودی معتبر است یا نه\n  if (isNaN(receivedDate.getTime())) {\n    errorMessages.push(\"Invalid date format. Please use a recognizable format like YYYY-MM-DD.\");\n  } else {\n    const now = new Date();\n    \n    // محاسبه محدوده یک هفته قبل\n    const oneWeekAgo = new Date();\n    oneWeekAgo.setDate(now.getDate() - 7);\n    \n    // محاسبه محدوده یک هفته بعد\n    const oneWeekLater = new Date();\n    oneWeekLater.setDate(now.getDate() + 7);\n\n    // بررسی اینکه آیا تاریخ در بازه زمانی مجاز قرار دارد\n    if (!(receivedDate >= oneWeekAgo && receivedDate <= oneWeekLater)) {\n      errorMessages.push(\"Date is not within the allowed range (-1 week to +1 week).\");\n    }\n  }\n}\n\n// --- پایان اعتبارسنجی ---\n\n// 3. ساخت خروجی برای نود IF\nif (errorMessages.length > 0) {\n  // اگر خطایی وجود دارد\n  item.json.isValid = false;\n  // تمام پیام‌های خطا را به یک متن واحد تبدیل می‌کنیم\n  item.json.errorMessage = \"Validation failed: \" + errorMessages.join(\" \");\n} else {\n  // اگر همه چیز صحیح است\n  item.json.isValid = true;\n  item.json.errorMessage = null;\n}\n\n// آیتم پردازش شده را برای نود بعدی (IF) ارسال می‌کنیم\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        400
      ],
      "id": "b377bf13-656d-4f11-97e7-8afc4dbbef7e",
      "name": "validation",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctors",
          "mode": "list",
          "cachedResultName": "doctors"
        },
        "where": {
          "values": [
            {
              "column": "p24_id",
              "value": "={{ $json.body.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -48,
        112
      ],
      "id": "ca4f44ca-c2d5-4ac0-8919-a851e74b6adb",
      "name": "find doctor id",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d2221ad-d208-477f-a76f-9c366f7e3194",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        112
      ],
      "id": "6150bb5d-c448-4e00-a1f9-d394421d86c9",
      "name": "does dr exists"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "dr does not exist",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        400,
        208
      ],
      "id": "b4edc21e-f2ca-48ef-aa16-9dc1e91ff313",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "=https://api.doctoreto.com/api/web/doctor/v1/orders/turn-date/{{ $('Webhook').item.json.body.date }}?search=[(type+!%3D+4)]&page=1 ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "accept-language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "app-device",
              "value": "dboJfdAxWU"
            },
            {
              "name": "app-version",
              "value": "2.1.1"
            },
            {
              "name": "origin",
              "value": "https://doctorpanel.doctoreto.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://doctorpanel.doctoreto.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not;A=Brand\";v=\"99\", \"Google Chrome\";v=\"139\", \"Chromium\";v=\"139\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?1"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Android\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "={{ $json.userAgent }}"
            },
            {
              "name": "cookie",
              "value": "={{ $('Select rows from a table').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        -224
      ],
      "id": "dabce10e-eb41-4bc4-8fb6-542d8bc9339a",
      "name": "list ",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2688,
        -608
      ],
      "id": "7a7f9cd2-4d94-40b4-baf5-6c08d18b75b1",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2464,
        -320
      ],
      "id": "c58480e9-930f-4397-b360-e244ab8fc172",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctor_platform_credentials",
          "mode": "list",
          "cachedResultName": "doctor_platform_credentials"
        },
        "where": {
          "values": [
            {
              "column": "doctor_id",
              "value": "={{ $json.id }}"
            },
            {
              "column": "platform_id",
              "value": "2"
            },
            {
              "column": "is_valid",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        16
      ],
      "id": "40e6e849-ba1f-4e81-a264-bce817b1fade",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3360,
        -608
      ],
      "id": "da0f1a4b-7861-4c3b-a1c3-28b6f2224fef",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "url": "https://zoro-calendar.ir/webhook/random_user_agent",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        160
      ],
      "id": "259717de-4ad8-4391-a606-e5233424aa20",
      "name": "HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e581cbf-63da-447f-a529-04f075eb7d51",
              "name": "id",
              "value": "={{ $json.appointment_id }}",
              "type": "string"
            },
            {
              "id": "10b3b3f8-871a-4001-ad7a-394a09fa63e7",
              "name": "type",
              "value": "={{ $json.type }}",
              "type": "string"
            },
            {
              "id": "242e5ad6-440b-4408-9bb5-d47d11d0a811",
              "name": "type_id",
              "value": "={{ $json.type_id }}",
              "type": "string"
            },
            {
              "id": "ae59be4e-def7-48fe-8229-fb99ba2aa129",
              "name": "user_center_id",
              "value": "=",
              "type": "string"
            },
            {
              "id": "e78dc91c-47d5-42d1-9a4d-6b6116b87f25",
              "name": "book_status",
              "value": "visited",
              "type": "string"
            },
            {
              "id": "3f3bae6f-e1f8-4798-b756-2997bb278ebb",
              "name": "ref_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "abcccb4d-b597-4419-a1b6-b20d54bc7697",
              "name": "from",
              "value": "={{ $json.scheduled_from_timestamp }}",
              "type": "string"
            },
            {
              "id": "73c02c16-2f2c-4f0d-9d6f-5cdce6397393",
              "name": "to",
              "value": "",
              "type": "string"
            },
            {
              "id": "9131405c-0046-44b9-9e0b-dc1ed62343bc",
              "name": "from_date",
              "value": "={{ $json.scheduled_from_iso }}",
              "type": "string"
            },
            {
              "id": "f03a9eea-046e-4500-a598-45d7cd728b58",
              "name": "to_date",
              "value": "",
              "type": "string"
            },
            {
              "id": "624b10a3-4869-4746-a379-a6b8671e2847",
              "name": "name",
              "value": "={{ $json.firstname }}",
              "type": "string"
            },
            {
              "id": "7a1a1358-7ae0-4e92-a333-630f869f5476",
              "name": "family",
              "value": "={{ $json.lastname }}",
              "type": "string"
            },
            {
              "id": "b50235bb-c51b-478e-9f5c-68c9ece5a5f0",
              "name": "display_name",
              "value": "={{ $json.firstname }} {{ $json.lastname }}",
              "type": "string"
            },
            {
              "id": "b6d8980d-1f0e-44cb-a928-2b3b0120d1ad",
              "name": "cell",
              "value": "={{ $json.mobile }}",
              "type": "string"
            },
            {
              "id": "9676ded4-2327-4878-b43b-115fae97afd8",
              "name": "national_code",
              "value": "={{ $json.national_code }}",
              "type": "string"
            },
            {
              "id": "f3d56483-d199-4863-af0a-836609384b7c",
              "name": "payment_status",
              "value": "paid",
              "type": "string"
            },
            {
              "id": "a622b7c1-0136-4737-b9b2-07921170b163",
              "name": "cost",
              "value": "",
              "type": "string"
            },
            {
              "id": "0f8c52bb-96c1-4686-9651-77ce4245dc40",
              "name": "insurance",
              "value": "",
              "type": "string"
            },
            {
              "id": "ae2d6cc1-eda9-4254-a633-e38d2150c5a8",
              "name": "platform.name",
              "value": "doctoreto",
              "type": "string"
            },
            {
              "id": "fff1e543-a214-45cf-8582-e01ab3920289",
              "name": "platform.p_name",
              "value": "دکترتو",
              "type": "string"
            },
            {
              "id": "96551e2e-be18-457b-b537-d943431892ac",
              "name": "platform.id",
              "value": "2",
              "type": "string"
            },
            {
              "id": "467a0fbb-e64b-4488-bd20-8ede5ea58a01",
              "name": "platform.icon",
              "value": "https://zoro-icon.s3.ir-tbz-sh1.arvanstorage.ir/doctoreto.png",
              "type": "string"
            },
            {
              "id": "0959cc42-7db6-4ca3-a128-1f8e7084e212",
              "name": "platform.link",
              "value": "https://doctorpanel.doctoreto.com/",
              "type": "string"
            },
            {
              "id": "45d3356d-c55b-435e-9b53-59b8c0075df6",
              "name": "center.id",
              "value": "={{ $json.place_id }}",
              "type": "string"
            },
            {
              "id": "6c2b9a1f-b3aa-4b22-9b26-57eb0d0baa13",
              "name": "center.name",
              "value": "={{ $json.place_name }}",
              "type": "string"
            },
            {
              "id": "62b51991-0c6e-4ed2-bf73-1329b857f734",
              "name": "center.address",
              "value": "={{ $json.place_address }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3136,
        -608
      ],
      "id": "9692ebc6-3439-4860-b3e4-1229e7023270",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// تابع تبدیل تاریخ شمسی به میلادی\nfunction jalaliToGregorian(j_y, j_m, j_d) {\n    var j_days_in_month = [31, 31, 31, 31, 31, 31, 30, 30, 30, 30, 30, 29];\n    var g_days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];\n    var gy, gm, gd;\n    var jy, jm, jd;\n    var g_day_no, j_day_no;\n    var leap;\n    var i;\n\n    jy = j_y - 979;\n    jm = j_m - 1;\n    jd = j_d - 1;\n\n    j_day_no = 365 * jy + parseInt(jy / 33) * 8 + parseInt((jy % 33 + 3) / 4);\n    for (i = 0; i < jm; ++i)\n        j_day_no += j_days_in_month[i];\n\n    j_day_no += jd;\n    g_day_no = j_day_no + 79;\n    gy = 1600 + 400 * parseInt(g_day_no / 146097);\n    g_day_no = g_day_no % 146097;\n    leap = 1;\n    if (g_day_no >= 36525) {\n        g_day_no--;\n        gy += 100 * parseInt(g_day_no / 36524);\n        g_day_no = g_day_no % 36524;\n        if (g_day_no >= 365)\n            g_day_no++;\n        else\n            leap = 0;\n    }\n    gy += 4 * parseInt(g_day_no / 1461);\n    g_day_no %= 1461;\n    if (g_day_no >= 366) {\n        leap = 0;\n        g_day_no--;\n        gy += parseInt(g_day_no / 365);\n        g_day_no = g_day_no % 365;\n    }\n    for (i = 0; g_day_no >= g_days_in_month[i] + (i == 1 && leap); i++)\n        g_day_no -= g_days_in_month[i] + (i == 1 && leap);\n    gm = i + 1;\n    gd = g_day_no + 1;\n    return [gy, gm, gd];\n}\n\n// ==========================================================\n// منطق اصلی برای پردازش هر آیتم\n// ==========================================================\n\nconst runAt = new Date().toISOString();\nconst defaultDoctorId = \"12061\";\n\nreturn items.map(it => {\n    const a = it.json;\n\n    // 1. استخراج اطلاعات اولیه\n    const scheduledDate = a.context?.shamsi_turn_date || '';\n    const scheduledTime = a.context?.shamsi_turn_time || '';\n\n    let firstname = a.patient?.first_name || '';\n    let lastname = a.patient?.last_name || '';\n    if (a.customer?.full_name && a.customer.full_name !== a.patient?.full_name) {\n        const parts = a.customer.full_name.trim().split(' ');\n        firstname = parts[0] || firstname;\n        lastname = parts.slice(1).join(' ') || lastname;\n    }\n\n    const scheduled_from = scheduledDate ? `${scheduledDate} ${scheduledTime}` : '';\n\n    // 2. تبدیل تاریخ در صورت وجود\n    let isoDate = null;\n    let timestamp = null;\n\n    if (scheduled_from) {\n        try {\n            const parts = scheduled_from.split(' ');\n            const datePart = parts[0];\n            const timePart = parts[1];\n\n            const [jYear, jMonth, jDay] = datePart.split('/').map(Number);\n            const [hour, minute, second] = timePart.split(':').map(Number);\n\n            const [gYear, gMonth, gDay] = jalaliToGregorian(jYear, jMonth, jDay);\n            \n            const pad = (num) => String(num).padStart(2, '0');\n\n            isoDate = `${gYear}-${pad(gMonth)}-${pad(gDay)}T${pad(hour)}:${pad(minute)}:${pad(second)}+03:30`;\n            \n            const correctDate = new Date(isoDate);\n            timestamp = Math.floor(correctDate.getTime() / 1000);\n\n        } catch (error) {\n            console.error(\"Could not parse or convert date:\", scheduled_from, error);\n        }\n    }\n  let place_id = \"\";\n  let place_name = \"\";\n  let place_address = \"\";\n\n    // 3. ساخت خروجی نهایی\n    const output = {\n        run_at: runAt,\n        scheduled_date: scheduledDate.split(' ')[0] || '',\n        scheduled_time: scheduledTime || '',\n        appointment_id: a.id || '',\n        user_patient_id: a.patient?.id || '',\n        firstname,\n        lastname,\n        mobile: a.patient?.user?.mobile?.toString() || a.customer?.mobile?.toString() || '',\n        national_code: a.customer?.national_code || a.patient?.national_code || '',\n        scheduled_from: scheduled_from,\n        \n        scheduled_from_iso: isoDate,\n        scheduled_from_timestamp: timestamp,\n\n        scheduled_to: '',\n        doctor_id: a.context?.doctor?.id || defaultDoctorId,\n        source_page: '',\n        raw_json: JSON.stringify(a),\n        place_id,place_name,place_address,\n    };\n\n    // 👇 فقط وقتی type.value === 0 باشه\n    if (a.type && a.type.value === 0) {\n        output.type = \"in_person\";\n        output.type_id = 1;\n        output.place_id = $input.first().json.context.doctor.doctor_place.place.id;\n        output.place_name = $input.first().json.context.doctor.doctor_place.place.name;\n        output.place_address = $input.first().json.context.doctor.doctor_place.place.address;\n    }\n\n    return { json: output };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        -608
      ],
      "id": "0ae2d54a-45d9-4ca9-91de-5708bfb9758a",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctor_platform_credentials",
          "mode": "list",
          "cachedResultName": "doctor_platform_credentials"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "access_token": "={{ $json.headers[\"set-cookie\"][0] }}",
            "phone_in_platform": "=",
            "platform_id": "={{ $('Select rows from a table').item.json.platform_id }}",
            "doctor_id": "={{ $('find doctor id').item.json.id }}",
            "refresh_token": "=",
            "updated_at": "={{ new Date(Date.now() - 24*60*60*1000).toLocaleString(\"sv-SE\", { timeZone: \"Asia/Tehran\", hour12: false }).replace(\" \", \"T\") + \"+03:30\" }}"
          },
          "matchingColumns": [
            "doctor_id",
            "platform_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "doctor_id",
              "displayName": "doctor_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "platform_id",
              "displayName": "platform_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "platform_doctor_id",
              "displayName": "platform_doctor_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "client_secret",
              "displayName": "client_secret",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "expires_at",
              "displayName": "expires_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "token_created",
              "displayName": "token_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "phone_in_platform",
              "displayName": "phone_in_platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1792,
        88
      ],
      "id": "8102a2d1-ffff-412a-abe3-24d35df82071",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ff880df-d894-4f6a-8b25-ac891b0538d0",
              "leftValue": "={{ $json.items }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2464,
        -512
      ],
      "id": "bcfa8941-ae9b-4a10-82a9-6a9bded5cbfa",
      "name": "If1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2688,
        -416
      ],
      "id": "e871c701-6d1a-4c9a-93e9-da8752e711fe",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "url": "https://api.doctoreto.com/api/web/doctor/v1/accounts/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "accept-language",
              "value": "en-US,en;q=0.9,fa;q=0.8,ar;q=0.7"
            },
            {
              "name": "app-device",
              "value": "LsHcvdVHXL"
            },
            {
              "name": "app-version",
              "value": "2.1.1"
            },
            {
              "name": "origin",
              "value": "https://doctorpanel.doctoreto.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://doctorpanel.doctoreto.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not;A=Brand\";v=\"99\", \"Microsoft Edge\";v=\"139\", \"Chromium\";v=\"139\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36 Edg/139.0.0.0"
            },
            {
              "name": "Cookie",
              "value": "={{ $json.access_token }}"
            },
            {
              "name": "cookie",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        -176
      ],
      "id": "216778c2-e27e-4dfb-b086-916f1057ef04",
      "name": "refresh_token1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "47fd1bae-7d1d-42d1-8cd9-73e7176f167d",
              "leftValue": "={{ $json.headers[\"set-cookie\"] }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        88
      ],
      "id": "9141d33e-d9bf-4a42-ab83-1ee7dc9481f4",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        624
      ],
      "id": "4f3fbfe8-bed0-4df6-b8d6-bb9ff269da95",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "1999634605",
        "text": "❌doctoreto/get appointment has error❌",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -48,
        624
      ],
      "id": "118fcbc5-0615-41cd-a43f-198af46ba6ae",
      "name": "Send a text message",
      "webhookId": "370b2ba6-fa65-4667-a1d5-f6910589b382",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "3UN48Ejir4Oxfhcd",
          "name": "calendar_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1999634605",
        "text": "it appearantly worked",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1792,
        -104
      ],
      "id": "85023f8e-8ba0-4a05-b769-807be3efe870",
      "name": "Send a text message2",
      "webhookId": "370b2ba6-fa65-4667-a1d5-f6910589b382",
      "credentials": {
        "telegramApi": {
          "id": "3UN48Ejir4Oxfhcd",
          "name": "calendar_bot"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1072,
        -272
      ],
      "id": "fc9cd046-01d0-4a2c-a592-ce8d8d686a70",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "chatId": "1999634605",
        "text": "❌doctoreto/get-appointment has error (http reqest for refresh)❌",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        -80
      ],
      "id": "867b5f49-61cc-4f85-b8af-95de0e7e3258",
      "name": "Send a text message3",
      "webhookId": "370b2ba6-fa65-4667-a1d5-f6910589b382",
      "credentials": {
        "telegramApi": {
          "id": "3UN48Ejir4Oxfhcd",
          "name": "calendar_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1999634605",
        "text": "❌doctoreto/get-appointment has error (http request for user agent)❌",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2240,
        352
      ],
      "id": "218e85ac-3ec7-4e2a-aabc-9cccaf857d9e",
      "name": "Send a text message4",
      "webhookId": "370b2ba6-fa65-4667-a1d5-f6910589b382",
      "credentials": {
        "telegramApi": {
          "id": "3UN48Ejir4Oxfhcd",
          "name": "calendar_bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2240,
        160
      ],
      "id": "af04a403-34af-4dfb-93ce-8c6c7da0a3fe",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "chatId": "1999634605",
        "text": "❌doctoreto/get-appointment has error (http request)❌",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2464,
        64
      ],
      "id": "02c02991-e506-4cc4-8abc-fec24a016a7b",
      "name": "Send a text message5",
      "webhookId": "370b2ba6-fa65-4667-a1d5-f6910589b382",
      "credentials": {
        "telegramApi": {
          "id": "3UN48Ejir4Oxfhcd",
          "name": "calendar_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctor_platform_credentials",
          "mode": "list",
          "cachedResultName": "doctor_platform_credentials"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_valid": false,
            "id": "={{ $('Select rows from a table').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "doctor_id",
              "displayName": "doctor_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "platform_id",
              "displayName": "platform_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "platform_doctor_id",
              "displayName": "platform_doctor_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_secret",
              "displayName": "client_secret",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "expires_at",
              "displayName": "expires_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "token_created",
              "displayName": "token_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone_in_platform",
              "displayName": "phone_in_platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_valid",
              "displayName": "is_valid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2688,
        -128
      ],
      "id": "ee0be74a-4d84-46a0-81a3-d78c3a99270c",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04b4436d-7bc9-4023-9637-267c17b7c1eb",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 403,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2464,
        -128
      ],
      "id": "4fb872dc-15c1-4a31-81ba-cd2d0af3ab0f",
      "name": "If3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        848,
        16
      ],
      "id": "9da5d4c1-6283-4da4-b9e7-21a651507513",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7087e289-9db7-411d-ac81-4464b62820b5",
              "leftValue": "={{ $json.body.items.isValid }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1344,
        -512
      ],
      "id": "6103f733-67cc-4cfa-90c5-28268f8f0864",
      "name": "If5"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1568,
        -320
      ],
      "id": "a545cc8f-82ee-4c01-ba7a-10733175f99f",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "chatId": "1999634605",
        "text": "❌doctoreto/get-appointment has error ( token is invalid)❌",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1568,
        -128
      ],
      "id": "928c26b1-e4a9-42c0-8f1c-34d4d158abfd",
      "name": "Send a text message6",
      "webhookId": "370b2ba6-fa65-4667-a1d5-f6910589b382",
      "credentials": {
        "telegramApi": {
          "id": "3UN48Ejir4Oxfhcd",
          "name": "calendar_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctor_platform_credentials",
          "mode": "list",
          "cachedResultName": "doctor_platform_credentials"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_valid": false,
            "id": "={{ $('Select rows from a table').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "doctor_id",
              "displayName": "doctor_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "platform_id",
              "displayName": "platform_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "platform_doctor_id",
              "displayName": "platform_doctor_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_secret",
              "displayName": "client_secret",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "expires_at",
              "displayName": "expires_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "token_created",
              "displayName": "token_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone_in_platform",
              "displayName": "phone_in_platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_valid",
              "displayName": "is_valid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1568,
        -512
      ],
      "id": "b7fc2be0-d928-4901-9515-6bd925c1dabf",
      "name": "Update rows in a table1",
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "58bf3249-e47c-4014-9d4f-9663865dcf37",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        16
      ],
      "id": "edf5cc57-05f9-461f-ba72-b6749b5ec769",
      "name": "If4",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apigw.paziresh24.com/v1/hamdast/apps/zorocalandar/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "35399abd-59bb-40e3-85d8-b4699088bed3"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $('find doctor id').item.json.p24_user_id }}\",\n  \"title\": \"تو همه پلتفرم هات لاگین نیستی!\",\n  \"description\": \"یک یا چندتا از پلتفرم های نوبت دهی ات نیاز به لاگین دوباره دارن. با کلیک روی همین پیام داخل اون پلتفرم ها دوباره لاگین کن تا همه نوبت هارو یکجا داشته باشی \",\n  \"link\": \"https://www.paziresh24.com/_/zorocalandar/launcher/\",\n  \"action_button_text\": \"صفحه تقویم یکپارچه\",\n  \"display_at\": [\n    \"doctor_calendar\"\n  ]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        -704
      ],
      "id": "352dd843-3736-46c8-ae96-20d6f9f9f479",
      "name": "send notification"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "validation",
            "type": "main",
            "index": 0
          },
          {
            "node": "find doctor id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is input valid": {
      "main": [
        [],
        [
          {
            "node": "wrong data response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validation": {
      "main": [
        [
          {
            "node": "is input valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "find doctor id": {
      "main": [
        [
          {
            "node": "does dr exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "does dr exists": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "list ": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          },
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "list ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "refresh_token1": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message4": {
      "main": [
        []
      ]
    },
    "Send a text message5": {
      "main": [
        []
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update rows in a table1",
            "type": "main",
            "index": 0
          },
          {
            "node": "send notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message6": {
      "main": [
        []
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "refresh_token1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "versionId": "31d0bbef-aaca-41c2-93c5-b7f7928a5145",
  "owner": {
    "type": "team",
    "teamId": "pzvw8g7gyGnUF15Q",
    "teamName": "calendar"
  },
  "parentFolderId": null,
  "isArchived": false
}