workflows/l2NxMTK4F6KKXYnm.json
{
  "id": "l2NxMTK4F6KKXYnm",
  "name": "doctoreto/clinics",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.doctoreto.com/api/web/doctor/v1/places",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "accept-language",
              "value": "en-US,en;q=0.9,fa;q=0.8,ar;q=0.7"
            },
            {
              "name": "app-device",
              "value": "LsHcvdVHXL"
            },
            {
              "name": "app-version",
              "value": "2.1.1"
            },
            {
              "name": "cache-control",
              "value": "no-cache"
            },
            {
              "name": "origin",
              "value": "https://doctorpanel.doctoreto.com"
            },
            {
              "name": "pragma",
              "value": "no-cache"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://doctorpanel.doctoreto.com/"
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "={{ $json.userAgent }}"
            },
            {
              "name": "cookie",
              "value": "={{ $('Select rows from a table').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        -112
      ],
      "id": "abff9333-fbd1-480d-890b-4a84271a1fa3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctor_platform_credentials",
          "mode": "list",
          "cachedResultName": "doctor_platform_credentials"
        },
        "where": {
          "values": [
            {
              "column": "doctor_id",
              "value": "={{ $json.id }}"
            },
            {
              "column": "is_valid",
              "value": "true"
            },
            {
              "column": "platform_id",
              "value": "2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        176,
        -112
      ],
      "id": "0e4622a1-9890-4d8b-aa8f-4dc3136f41a1",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "items.data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1072,
        -112
      ],
      "id": "d432c866-4905-41c1-9f02-4239a585abc0",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// این کد فرض می‌کند که بعد از نود \"Split Out\" اجرا می‌شود\n// و هر بار فقط یک آیتم را پردازش می‌کند.\n\n// دریافت آیتم تکی که از نود \"Split Out\" ارسال شده است.\nconst item = $json;\n\n// تعریف دیکشنری برای نگاشت نوع مرکز\n// 0: مطب, 3: بیمارستان\nconst centerTypeMap = {\n  0: { type: 1, name: 'مطب' },\n  3: { type: 2, name: 'بیمارستان' } // فرض شده که type=3 معادل بیمارستان با آیدی 2 است\n};\n\n// تابع کمکی برای استخراج نام فایل از آدرس تصویر\nconst getAvatarFilename = (url) => {\n  if (!url) {\n    return \"\";\n  }\n  const parts = url.split('/');\n  return parts[parts.length - 1];\n};\n\n// استخراج نام فایل تصویر از avatar_url یا avatar\nconst avatarFilename = item.avatar_url ? getAvatarFilename(item.avatar_url) : (item.avatar ? getAvatarFilename(item.avatar) : \"\");\n\n// اگر slug در ورودی null بود، آن را از name بساز\nconst slug = item.slug ? item.slug : item.name.replace(/\\s+/g, '-');\n\n// پیدا کردن نوع و نام مرکز بر اساس نگاشت تعریف‌شده\nconst centerTypeInfo = centerTypeMap[item.type] || { type: null, name: '' };\n\n// استخراج اولین شماره تلفن\nconst primaryPhone = item.phone ? item.phone.split(',')[0] : '';\n\n// ساختار آیتم جدید بر اساس فرمت خروجی\nconst newItem = {\n  id: String(item.id),\n  status: item.status,\n  user_center_id: String(item.doctor_place_id),\n  server_id: 1, // مقدار ثابت طبق نمونه\n  name: item.name,\n  tell: primaryPhone,\n  display_number: primaryPhone,\n  image: avatarFilename,\n  address: item.address,\n  province_name: \"\", // این فیلد در ورودی موجود نیست\n  province_id: null,   // این فیلد در ورودی موجود نیست\n  city_name: \"\",       // این فیلد در ورودی موجود نیست\n  city_id: item.city_id,\n  city_slug: \"\",       // این فیلد در ورودی موجود نیست\n  center_type: centerTypeInfo.type,\n  center_type_name: centerTypeInfo.name,\n  slug: slug,\n  map: {\n    lat: item.latitude ? parseFloat(item.latitude) : null,\n    lon: item.longitude ? parseFloat(item.longitude) : null,\n  },\n  is_master: 1, // مقدار ثابت طبق نمونه\n  user_image: avatarFilename,\n  disable_booking: false, // مقدار ثابت طبق نمونه\n};\n\n// بازگرداندن آیتم تکی تبدیل‌شده\n// n8n این عملیات را برای تمام آیتم‌هایی که از نود قبل می‌آیند تکرار می‌کند\nreturn {\n  json: newItem\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        -16
      ],
      "id": "3bcda34d-facf-4055-b010-98c0139fec1a",
      "name": "Code"
    },
    {
      "parameters": {
        "chatId": "1999634605",
        "text": "={{ $json.name }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1744,
        -16
      ],
      "id": "98cabe6d-e368-446c-a9b1-4d3c078c6c4e",
      "name": "Send a text message",
      "webhookId": "370b2ba6-fa65-4667-a1d5-f6910589b382",
      "credentials": {
        "telegramApi": {
          "id": "3UN48Ejir4Oxfhcd",
          "name": "calendar_bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "01d00df6-1df0-4874-8364-58d9db183c15",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "21b38e37-2e5d-4162-a0cb-5cfc9cc966b6",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "f92615e2-274c-4aa6-88d7-4a7b07c51cbc",
              "name": "address",
              "value": "={{ $json.address }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        -16
      ],
      "id": "65c2eb39-b9be-45ef-9276-b40e38225158",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "centers",
          "mode": "list",
          "cachedResultName": "centers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "center_id": "={{ $json.id }}",
            "doctor_id": "={{ $('Select rows from a table1').item.json.id }}",
            "lat": "={{ $json.map.lat }}",
            "lon": "={{ $json.map.long }}",
            "center_name": "={{ $json.name }}",
            "center_tell": "={{ $json.tell }}",
            "center_address": "={{ $json.address }}",
            "last_update": "={{ $now.setZone('Asia/Tehran').toISO() }}",
            "doctor_name": "={{ $('Select rows from a table1').item.json.full_name }}",
            "platform_id": 2
          },
          "matchingColumns": [
            "center_id",
            "platform_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "doctor_id",
              "displayName": "doctor_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "center_id",
              "displayName": "center_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "center_name",
              "displayName": "center_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "center_tell",
              "displayName": "center_tell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "center_address",
              "displayName": "center_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "lat",
              "displayName": "lat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "lon",
              "displayName": "lon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "platform_id",
              "displayName": "platform_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_update",
              "displayName": "last_update",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "doctor_name",
              "displayName": "doctor_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1520,
        -208
      ],
      "id": "6de0bd2f-193d-4b9c-8c82-5488cc984fc8",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9aed994-d783-4047-bd8d-6adbc106aba5",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "7fbaf1ce-0b43-4151-b6cd-90a4d0753676",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "28e934b1-748b-46a1-aaa5-c3acbd3a29d3",
              "name": "tell",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "5ee28ad3-0eb8-40b7-8764-8a420de78652",
              "name": "address",
              "value": "={{ $json.address }}",
              "type": "string"
            },
            {
              "id": "467a00ca-4c0e-4677-9cb2-cfe67b7a08bb",
              "name": "map.lat",
              "value": "={{ $json.latitude }}",
              "type": "string"
            },
            {
              "id": "11a02f87-1017-456b-8be4-8a9d81f50eca",
              "name": "map.long",
              "value": "={{ $json.longitude }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        -208
      ],
      "id": "87449322-ffb5-4f1e-a1ff-563c1559311e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctors",
          "mode": "list",
          "cachedResultName": "doctors"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.doctor_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -48,
        -112
      ],
      "id": "a00850c8-d5d6-450e-b0d5-ba60c7383d24",
      "name": "Select rows from a table1",
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://zoro-calendar.ir/webhook/random_user_agent",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        -112
      ],
      "id": "f512a834-9498-408e-b9be-963ca4af60d6",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "7da7bbab-7913-41bb-83cb-6581bcb807b2",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        -112
      ],
      "id": "95b6d5d6-03c1-4328-be67-c7b182e2c76c",
      "name": "is_empty"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "doctor_id",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -288,
        -112
      ],
      "id": "b7d99c53-c4d3-433e-acd2-d0c769e5e9f3",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "is_empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is_empty": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "19a8c955-766f-4dbf-a87f-25cc2e63753f",
  "owner": {
    "type": "team",
    "teamId": "pzvw8g7gyGnUF15Q",
    "teamName": "calendar"
  },
  "parentFolderId": "u1ky7ueH61cKlVNe",
  "isArchived": false
}