workflows/pCXAE2TS58t7LqKi.json
{
  "id": "pCXAE2TS58t7LqKi",
  "name": "cache_checker",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "dr_id",
              "type": "number"
            },
            {
              "name": "date"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        -32
      ],
      "id": "5c292b8b-2e40-4c1b-84b3-6f5e02e9e5c0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "appointments",
          "mode": "list",
          "cachedResultName": "appointments"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "doctor_id",
              "value": "={{ $json.doctor_id }}"
            },
            {
              "column": "date",
              "value": "={{ $json.date}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        -128
      ],
      "id": "6a1102c7-cded-4b8c-8f4e-866db548fede",
      "name": "Select rows from a table1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b0a3dad-8a5d-461c-bbd2-245315dadce7",
              "name": "id",
              "value": "={{ $json.platform_appointment_id }}",
              "type": "string"
            },
            {
              "id": "c76c3a23-ac7f-4992-9f63-dbbcdc67cbc8",
              "name": "type",
              "value": "={{ $json.type == 1 ? 'in_person' : ($json.type == 2 ? 'online' : null) }}",
              "type": "string"
            },
            {
              "id": "36b3504e-ce11-4502-beb4-0accd82d5065",
              "name": "type_id",
              "value": "={{ $json.type }}",
              "type": "string"
            },
            {
              "id": "8847091e-a645-4caa-ac1a-4045c5232fff",
              "name": "user_center_id",
              "value": "=",
              "type": "string"
            },
            {
              "id": "aff2716f-cc0b-4b53-89c6-5cd7eef99964",
              "name": "book_status",
              "value": "={{ $json.book_status }}",
              "type": "string"
            },
            {
              "id": "b77a21bc-c86e-44aa-86fb-d464ad0dab0c",
              "name": "ref_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "cf112a5c-f681-4cfb-bc9c-f5b9f528270b",
              "name": "from",
              "value": "={{ $json.start_time_ts }}",
              "type": "string"
            },
            {
              "id": "f0bf2ffd-9a21-472f-aed0-56e78b6871d6",
              "name": "to",
              "value": "={{ $json.end_time_ts }}",
              "type": "string"
            },
            {
              "id": "e0b15b07-f163-4d1b-8ffe-e845fbaae45e",
              "name": "from_date",
              "value": "={{ DateTime.fromISO($json.start_time).toFormat('yyyy-MM-dd\\'T\\'HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "ba79e25d-55a1-4aef-bf48-9f63eee2726e",
              "name": "to_date",
              "value": "={{ $json.end_time }}",
              "type": "string"
            },
            {
              "id": "334a8899-8637-4fe1-92d0-0dd9b1a5d3a7",
              "name": "name",
              "value": "={{ $json.patient_firstname }}",
              "type": "string"
            },
            {
              "id": "67d81672-3610-4ba1-ac3e-13c218826f20",
              "name": "family",
              "value": "={{ $json.patient_lastname }}",
              "type": "string"
            },
            {
              "id": "123639c1-3fcb-485e-ab48-6c0ebf55f49b",
              "name": "display_name",
              "value": "={{ $json.patient_firstname }} {{ $json.patient_lastname }}",
              "type": "string"
            },
            {
              "id": "8622c6e0-20ce-4835-94fd-d08f9ba2102d",
              "name": "cell",
              "value": "={{ $json.patient_mobile }}",
              "type": "string"
            },
            {
              "id": "fe2ee49f-85f7-47a7-8276-a1aacea65dda",
              "name": "national_code",
              "value": "={{ $json.patient_national_code }}",
              "type": "string"
            },
            {
              "id": "c6f32978-2077-4826-affb-9f66aebc8993",
              "name": "payment_status",
              "value": "={{ $json.payment_status }}",
              "type": "string"
            },
            {
              "id": "7f846f78-a50a-4c7f-a7ed-21eed847738b",
              "name": "cost",
              "value": "={{ $json.cost }}",
              "type": "number"
            },
            {
              "id": "a4c84dc7-6d5c-4d91-9ce2-763d6f087870",
              "name": "insurance",
              "value": "",
              "type": "string"
            },
            {
              "id": "8cd7f352-ce7d-4901-89a0-e7514386e33d",
              "name": "platform.name",
              "value": "={{ $json.platform_id == 1 ? 'drdr' : ($json.platform_id == 2 ? 'doctoreto' : null) }}",
              "type": "string"
            },
            {
              "id": "548426bd-da77-4545-af37-43f2da9fcccb",
              "name": "platform.p_name",
              "value": "={{ $json.platform_id == 1 ? 'دکتردکتر' : ($json.platform_id == 2 ? 'دکترتو' : null) }}",
              "type": "string"
            },
            {
              "id": "74a0d089-a772-4fe0-ad84-5c4f56a269ca",
              "name": "platform.id",
              "value": "={{ $json.platform_id }}",
              "type": "string"
            },
            {
              "id": "72ea688c-79b4-4b04-99a7-3080c53e4159",
              "name": "platform.icon",
              "value": "={{ $json.platform_id == 1 ? 'https://zoro-icon.s3.ir-tbz-sh1.arvanstorage.ir/drdr.png' : ($json.platform_id == 2 ? 'https://zoro-icon.s3.ir-tbz-sh1.arvanstorage.ir/doctoreto.png' : null) }}",
              "type": "string"
            },
            {
              "id": "4ce68c45-a0c5-4857-b81c-fbb0019763eb",
              "name": "platform.link",
              "value": "={{ $json.platform_id == 1 ? 'https://panel.drdr.ir/' : ($json.platform_id == 2 ? 'https://doctorpanel.doctoreto.com/' : null) }}",
              "type": "string"
            },
            {
              "id": "96741324-6cf9-418a-8488-909ae05549f6",
              "name": "center.id",
              "value": "={{ $json.center_id }}",
              "type": "string"
            },
            {
              "id": "3cab9ec3-4f45-4016-b9fb-4026af2ae317",
              "name": "center.name",
              "value": "={{ $json.center_name }}",
              "type": "string"
            },
            {
              "id": "ed5d155d-7af8-4fa9-9883-cda620b19fd9",
              "name": "center.address",
              "value": "={{ $json.center_address }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        -224
      ],
      "id": "b3c1b257-cb26-4a23-93ac-e838aecc3fcb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "54f9baf4-dbcc-40c6-8816-6bd526aec416",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        -128
      ],
      "id": "9a01a6a2-bc51-417d-b1ff-ea04239344b1",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5d64ceb2-334a-43f7-9966-6ec070dd8176",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        -32
      ],
      "id": "b254389a-1590-41e3-88b4-00623f51db8f",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cashed_days",
          "mode": "list",
          "cachedResultName": "cashed_days"
        },
        "where": {
          "values": [
            {
              "column": "doctor_id",
              "value": "={{ $json.dr_id }}"
            },
            {
              "column": "date",
              "value": "={{ $json.date }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        -32
      ],
      "id": "94c338b6-91ed-4c3f-a4b5-7659d661befa",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90c63071-7124-400b-b191-05081eeb1dbf",
              "name": "does_have_cash",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        64
      ],
      "id": "3cd1dd57-0809-4889-acf0-80e247c051f6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        -32
      ],
      "id": "641fe33c-0c44-4ab7-b2d1-2144c9a8b285",
      "name": "Edit Fields2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        288
      ],
      "id": "191764da-45fd-4e83-bc6e-309c3ee98113",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "1999634605",
        "text": "❌cash_checker has error❌",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        192,
        288
      ],
      "id": "39940e64-dcde-4f15-90dc-b46c8444af70",
      "name": "Send a text message",
      "webhookId": "370b2ba6-fa65-4667-a1d5-f6910589b382",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "3UN48Ejir4Oxfhcd",
          "name": "calendar_bot"
        }
      }
    }
  ],
  "connections": {
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "48fcdddd-027b-4fe6-97a4-5709b04325fa",
  "owner": {
    "type": "team",
    "teamId": "pzvw8g7gyGnUF15Q",
    "teamName": "calendar"
  },
  "parentFolderId": null,
  "isArchived": false
}