workflows/XZAMhZqnPV5rJJXI.json
{
  "id": "XZAMhZqnPV5rJJXI",
  "name": "p24_login",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "p24_login",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://login.zoro-calendar.ir/"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        -208
      ],
      "id": "31008cc3-9476-4a51-975a-d89f9e5abfbb",
      "name": "Webhook",
      "webhookId": "f4c18599-715d-4203-a94a-79066f4515f3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.code }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "390a9269-94dd-4aa9-ac22-50afa637bea2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "code does not exists"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        160,
        -208
      ],
      "id": "beeedf83-7d17-49da-89d2-d241fdb50564",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a822a3a3-5fd3-4121-8938-e7bcb70957ad",
              "name": "query.code",
              "value": "={{ $json.body.code }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -208
      ],
      "id": "24f0c091-1224-4c70-a608-66907a964370",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "p24_login",
          "mode": "list",
          "cachedResultName": "p24_login"
        },
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        -208
      ],
      "id": "c4eed690-bd31-458e-9f1f-2f845ba3849f",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://apigw.paziresh24.com/open-platform/v1/profile/information",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('get token').item.json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        -208
      ],
      "id": "c477b0ff-bae3-4382-9a38-918ccbe7a0bb",
      "name": "HTTP Request1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctors",
          "mode": "list",
          "cachedResultName": "doctors"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "full_name": "={{ $json.data.name }} {{ $json.data.family }}",
            "national_code": "={{ $json.data.national_code }}",
            "medical_council_number": "={{ $json.data.medical_code }}",
            "mobile": "={{ $json.data.cell }}",
            "p24_id": "={{ $json.data.id }}",
            "temp_token": "={{ $('get token').item.json.access_token }}",
            "created_at": "={{ new Date(Date.now() - 24*60*60*1000).toLocaleString(\"sv-SE\", { timeZone: \"Asia/Tehran\", hour12: false }).replace(\" \", \"T\") + \"+03:30\" }}",
            "p24_user_id": "={{ $('HTTP Request3').item.json.users[0].id }}"
          },
          "matchingColumns": [
            "p24_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "mobile",
              "displayName": "mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "medical_council_number",
              "displayName": "medical_council_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "national_code",
              "displayName": "national_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "p24_id",
              "displayName": "p24_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "temp_token",
              "displayName": "temp_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "p24_user_id",
              "displayName": "p24_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1504,
        -112
      ],
      "id": "8076e153-cce1-44bb-b5eb-eab2238af716",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "enableResponseOutput": true,
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2400,
        -112
      ],
      "id": "e51d89de-f922-4499-913f-7e64ef89500e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        112
      ],
      "id": "95cefd9c-5fc3-49fc-aba9-a52cab49d062",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "1999634605",
        "text": "❌p24 login has error❌",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        112
      ],
      "id": "74118e67-9bb0-4271-9ce1-dc22d9daeee9",
      "name": "Send a text message",
      "webhookId": "370b2ba6-fa65-4667-a1d5-f6910589b382",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "3UN48Ejir4Oxfhcd",
          "name": "calendar_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctor_platform_credentials",
          "mode": "list",
          "cachedResultName": "doctor_platform_credentials"
        },
        "where": {
          "values": [
            {
              "column": "doctor_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1728,
        -112
      ],
      "id": "e10dc0f2-cbea-4607-a3cb-17fb572e5428",
      "name": "Select rows from a table1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2618749c-fdfa-47bd-8d98-38b929548f1a",
              "leftValue": "={{ $json.is_valid }}",
              "rightValue": "20",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -64,
        -624
      ],
      "id": "4a1c05b9-67c6-499c-9088-30956ec39582",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a0e314b-714b-4335-a95d-e45bfe470a6a",
              "name": "={{ $json.platform_id }}",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -720
      ],
      "id": "7497d746-8aff-4864-be71-05ad9a808d5e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a0e314b-714b-4335-a95d-e45bfe470a6a",
              "name": "={{ $json.platform_id }}",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -528
      ],
      "id": "45eac3cc-5ad5-445c-8ebc-39b7ecb6e137",
      "name": "Edit Fields2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b32e5e0b-77c9-45df-b06a-196b2b217d30",
              "name": "access_token",
              "value": "={{ $json.temp_token }}",
              "type": "string"
            },
            {
              "id": "d6062d65-28be-448e-9710-48b47c259f2f",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        336
      ],
      "id": "41f9834f-a6f6-4204-bfd6-0f541a5fa5be",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af719f1f-8ad1-4c37-afef-9cb188526461",
              "name": "={{ $json.platform_id }}",
              "value": "={{ $json.is_valid }}",
              "type": "boolean"
            },
            {
              "id": "6b804f87-cdce-4742-96e5-409016d2d7b7",
              "name": "access_token",
              "value": "={{ $('Insert or update rows in a table').item.json.temp_token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        -112
      ],
      "id": "204656f7-f1ca-4968-9a34-1498c46fbcb5",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "jsCode": "// Merge all json objects from items\nconst merged = Object.assign({}, ...items.map(item => item.json));\n\n// Ensure keys \"1\" and \"2\" always exist\nif (!merged.hasOwnProperty(\"1\")) {\n  merged[\"1\"] = false;\n}\nif (!merged.hasOwnProperty(\"2\")) {\n  merged[\"2\"] = false;\n}\n\nreturn [\n  {\n    json: merged\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        -112
      ],
      "id": "b696192b-6c8a-4d16-b72f-fb01df08500b",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://user.paziresh24.com/realms/paziresh24/protocol/openid-connect/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "authorization_code"
            },
            {
              "name": "client_id",
              "value": "={{ $json.client_id }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $json.client_secret }}"
            },
            {
              "name": "redirect_uri",
              "value": "={{ $('Webhook').item.json.headers.referer.replace(/\\/$/, '') }}"
            },
            {
              "name": "code",
              "value": "={{ $('Edit Fields').item.json.query.code }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        -208
      ],
      "id": "eabd689c-113a-431a-931b-597dceb5a681",
      "name": "get token"
    },
    {
      "parameters": {
        "url": "https://apigw.paziresh24.com/open-platform/v1/user/information/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.temp_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        560
      ],
      "id": "8bec4d2d-dc33-4563-913e-42d3ab3831ef",
      "name": "HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        656
      ],
      "id": "f91b609f-b845-40e2-a760-a56a8af74302",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "doctors",
          "mode": "list",
          "cachedResultName": "doctors"
        },
        "where": {
          "values": [
            {
              "column": "mobile",
              "value": "9107744775"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        656
      ],
      "id": "a00fd33d-c1cc-45a1-82d5-6b9c4955eda9",
      "name": "Select rows from a table2",
      "credentials": {
        "postgres": {
          "id": "OGomr8J1QWL5ZbdV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://apigw.paziresh24.com/open-platform/v1/profile/information",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.temp_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        752
      ],
      "id": "475955fb-568c-4165-970a-467b69b80ec7",
      "name": "HTTP Request2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "1999634605",
        "text": "={{ $json.data.name }} {{ $json.data.family }} صفحه برنامه توی پذیرش 24 رو باز کرد",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1504,
        -304
      ],
      "id": "fc14b4e7-8fcd-4ee4-a635-7cd72a8ceff9",
      "name": "Send a text message1",
      "webhookId": "e8e38915-cc8b-49b4-a216-032ac3bb909b",
      "credentials": {
        "telegramApi": {
          "id": "Iu2Y1kxOMsHf47B4",
          "name": "p24_login"
        }
      }
    },
    {
      "parameters": {
        "url": "https://apigw.paziresh24.com/open-platform/v1/user/information/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        -208
      ],
      "id": "72b36df1-a763-4068-83f5-b10a7a14e9e5",
      "name": "HTTP Request3",
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "get token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    },
    "Edit Fields2": {
      "main": [
        []
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get token": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Select rows from a table2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "versionId": "aaaf575f-aa4d-439f-9248-2f139643e950",
  "owner": {
    "type": "team",
    "teamId": "pzvw8g7gyGnUF15Q",
    "teamName": "calendar"
  },
  "parentFolderId": null,
  "isArchived": false
}